@font-face {
  font-family: "BaskervilleCustom";
  src: url("../../assets/fonts/Baskerville-Regular.otf") format("opentype");
}

@font-face {
  font-family: "WarsawGothicE";
  src: url("../../assets/fonts/WarsawGothicExt.otf") format("opentype");
}

@font-face {
  font-family: "Baskerville-Italic";
  src: url("../../assets/fonts/Baskerville-Italic.otf") format("opentype");
}

@media only screen and (min-width: 2000px) {
  .Company-about {
    width: 60% !important;
    margin: 0 auto !important;
  }
  .about-section1-left-top h4 {
    font-size: 4.2vw !important;
  }
  .about-section1-left-top p {
    font-size: 1.8vw !important;
  }
  .about-section1-left-top a {
    font-size: 0.6vw !important;
  }
  .about-section1-left-bottom h4 {
    font-size: 0.9vw !important;
  }
  .about-section1-left-bottom p, .about-section1-left-bottom li {
    font-size: 0.63vw !important;
  }
  .section2-left-bottom-h4 {
    font-size: 1.02vw !important;
  }
  .section2-left-bottom-p {
    font-size: 0.66vw !important;
  }
  .section2-right-top h4, .section2-right-bottom h4 {
    font-size: 0.9 !important;
  }
  .section2-right-top p, .section2-right-top li, .section2-right-bottom p, .section2-right-bottom li {
    font-size: 0.6vw !important;
  }
  .about-section3 {
    margin-top: -9em !important;
  }
  .about-section3-left img {
    width: 42vw !important;
  }
  .about-section3-right {
    width: 30vw !important;
    right: 12vw !important;
  }
  .about-section3-right h4 {
    font-size: 0.9vw !important;
  }
  .about-section3-right p {
    font-size: 0.6vw !important;
  }
  .div-action-right-bottom {
    top: 6vw !important;
  }
  .div-action-right-bottom h5 {
    font-size: 1.8vw !important;
  }
  .div-action-right-bottom a {
    font-size: 0.66vw !important;
  }
}

@media only screen and (max-width: 920px) {
  .about-section1-right img {
    display: none !important;
  }
  .about-section1 {
    height: auto !important;
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .about-section1 .about-section1-left-top {
    height: auto !important;
    padding: 0 20px;
  }
  .about-section1 .about-section1-left-top h4 {
    text-align: center;
  }
  .about-section1 .about-section1-left-top a {
    top: 1px;
  }
  .about-section1 .about-section1-left-bottom {
    margin-top: 20px;
    height: auto !important;
  }
  .about-section1 .about-section1-left-bottom h4 {
    font-size: 2rem !important;
  }
  .about-section1 .about-section1-left-bottom p {
    width: 100% !important;
    font-size: 0.9rem !important;
  }
  .about-section1 .about-section1-left-bottom li {
    font-size: 0.9rem !important;
  }
  .about-section1-right img {
    width: 100%;
    height: 400px !important;
  }
  .about-section2 {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: auto !important;
  }
  .about-section2 .section2-left {
    width: 100% !important;
    height: 100%;
  }
  .section2-left-bottom {
    height: auto !important;
    width: 100% !important;
  }
  .section2-left-bottom .section2-left-bottom-p {
    width: 100% !important;
  }
  .section2-right {
    width: 100% !important;
    height: auto !important;
  }
  .about-section3 {
    height: auto !important;
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .about-section3-right {
    padding: 20px !important;
  }
  .about-section3-left img {
    width: 90% !important;
  }
  .div-action-right-bottom {
    top: -10% !important;
    height: 270px;
    right: 0 !important;
  }
  .div-action-right-bottom h5 {
    font-size: 1rem !important;
  }
  .section2-right-top h4, .section2-right-bottom h4 {
    font-size: 1.5rem !important;
  }
  .section2-right-top p, .section2-right-top li, .section2-right-bottom p, .section2-right-bottom li {
    font-size: 0.9rem !important;
  }
  .section2-left-bottom-h4 {
    font-size: 1.5rem !important;
  }
  .section2-left-bottom-p {
    font-size: 0.9rem !important;
  }
  .about-section3-right {
    width: 100% !important;
    right: 0 !important;
  }
  .about-section3-right h4 {
    font-size: 1.5rem !important;
  }
  .about-section3-right p {
    font-size: 0.9rem !important;
  }
  .div-action-right-bottom {
    top: -5% !important;
  }
  .div-action-right-bottom h5 {
    font-size: 2.5rem !important;
  }
  .div-action-right-bottom a {
    font-size: 0.9 !important;
  }
}

.Company-about {
  width: 100%;
}

.Company-about * {
  font-family: Lato;
}

.Company-about .content-wrapper {
  width: 100%;
}

.Company-about .content-wrapper .about-section1 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  background: white;
}

.Company-about .content-wrapper .about-section1 .about-section1-left, .Company-about .content-wrapper .about-section1 .about-section1-right {
  width: 100%;
  height: auto;
}

.Company-about .content-wrapper .about-section1 .about-section1-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Company-about .content-wrapper .about-section1 .about-section1-left .about-section1-left-top {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Company-about .content-wrapper .about-section1 .about-section1-left .about-section1-left-top h4 {
  font-size: 7vw;
  font-weight: bold;
  font-family: "WarsawGothicE";
  color: black;
}

.Company-about .content-wrapper .about-section1 .about-section1-left .about-section1-left-top p {
  font-size: 3vw;
  color: black;
  position: relative;
  bottom: 7%;
  font-family: 'Baskerville-Italic';
}

.Company-about .content-wrapper .about-section1 .about-section1-left .about-section1-left-top a {
  padding: 8px;
  color: white;
  border: none;
  position: relative;
  bottom: 30px;
  font-weight: bold;
  font-size: 0.8rem;
  background: black;
}

.Company-about .content-wrapper .about-section1 .about-section1-left .about-section1-left-bottom {
  padding: 10px 50px;
  width: 100%;
  position: relative;
  height: 50.2%;
  background: #F5F8F6;
}

.Company-about .content-wrapper .about-section1 .about-section1-left .about-section1-left-bottom h4 {
  color: black;
  font-size: 1.5vw;
  font-weight: bold;
}

.Company-about .content-wrapper .about-section1 .about-section1-left .about-section1-left-bottom p {
  font-size: 1.05vw;
  color: black;
  width: 80%;
}

.Company-about .content-wrapper .about-section1 .about-section1-left .about-section1-left-bottom ul li {
  font-size: 1.05vw;
}

.about-section1-right img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-section2 {
  width: 100%;
  height: auto;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about-section2 .section2-left {
  width: 50%;
  height: 100%;
}

.about-section2 .section2-left .section2-left-top {
  height: 80%;
}

.about-section2 .section2-left .section2-left-top img {
  width: 100%;
  max-height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-section2 .section2-left .section2-left-bottom {
  padding: 10px 30px;
  background: #F5F8F6;
  height: 20%;
  width: 200%;
}

.about-section2 .section2-left .section2-left-bottom .section2-left-bottom-h4 {
  font-size: 1.7vw;
  color: black;
}

.about-section2 .section2-left .section2-left-bottom .section2-left-bottom-p {
  width: 49%;
  color: #000;
  font-size: 1.1vw;
}

.about-section2 .section2-right {
  width: 50%;
  height: 100%;
}

.about-section2 .section2-right .section2-right-top, .about-section2 .section2-right .section2-right-bottom {
  width: 90%;
  margin: 20px auto;
  position: relative;
  right: 2%;
  height: 45%;
  background: #F5F8F6;
  padding: 10px 20px;
  border-radius: 30px;
}

.about-section2 .section2-right .section2-right-top h4, .about-section2 .section2-right .section2-right-bottom h4 {
  font-size: 1.5vw;
  color: black;
}

.about-section2 .section2-right .section2-right-top p, .about-section2 .section2-right .section2-right-top li, .about-section2 .section2-right .section2-right-bottom p, .about-section2 .section2-right .section2-right-bottom li {
  font-size: 1vw;
  color: black;
}

.about-section2 .section2-right .section2-right-bottom {
  background: #5DBCD2;
  border-radius: 0;
  height: 70%;
  z-index: 1;
}

.about-section3 {
  margin-top: -7em;
  width: 100%;
  height: auto;
  background: #F5F8F6;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0;
}

.about-section3 .about-section3-left, .about-section3 .about-section3-right {
  width: 100%;
  height: auto;
}

.about-section3 .about-section3-left img {
  width: 70vw;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 13px;
  position: relative;
  right: 0%;
}

.about-section3 .about-section3-right {
  z-index: 1;
  width: 50vw;
  position: relative;
  top: 6vw;
  right: 20vw;
  padding: 10% 5%;
  padding-right: 20%;
}

.about-section3 .about-section3-right h4 {
  font-size: 1.5vw;
  color: black;
}

.about-section3 .about-section3-right p {
  color: black;
  font-size: 1vw;
  position: relative;
  bottom: 10px;
}

.about-section3 .about-section3-right .div-action-right-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  right: 0%;
  top: 10vw;
}

.about-section3 .about-section3-right h5 {
  margin-top: 40px;
  font-size: 3vw;
  font-family: 'Baskerville-Italic';
  color: black;
}

.about-section3 .about-section3-right a {
  background: black;
  color: white;
  padding: 10px;
  font-size: 1.1vw;
  border: none;
  font-weight: bold;
}
/*# sourceMappingURL=about.css.map */