
   @font-face {
    font-family: "BaskervilleCustom";
    src:url("../../assets/fonts/Baskerville-Regular.otf") format("opentype"),
   
    }

    @font-face {
        font-family: "WarsawGothic";
        src:url("../../assets/fonts/WarsawGothic.otf") format("opentype"),
       
        }


    @font-face {
        font-family: "WarsawGothicE";
        src:url("../../assets/fonts/WarsawGothicExt.otf") format("opentype"),
        
        }
    

@media only screen and(max-width:745px){
   
   .About{
       *{
           box-sizing: border-box !important;
       }
    .about-wrapper{
        .div{
            display:grid !important;
            grid-template-columns:1fr !important;
            grid-template-rows: 1fr 1fr !important;
            grid-gap:0;
        }

        .about-wrapper-div1{
            height: auto !important;
            // border: 1px solid red;
            .div-title-div{
                // border: 1px solid red;
                height: auto !important;
                h5, span{
                    font-size: 2rem !important;
                    font-weight: bold;
                }

                p{
                    width:100% !important;
                    text-align: justify ;
                    // font-size: 0.8rem ;
                }
            }

            img{
                // border: 1px solid red;
                height:250px !important; 
                width:100% !important;
                object-fit: contain;
            }

        }


        .about-wrapper-div3{
            height: 450px !important;
            .div-title-div{
                // border: 1px solid red;
                height: auto !important;
                h5{
                    font-size: 2rem !important;
                    font-weight: bold;
                }

                p{
                    font-size: 1.1rem !important;
                }
            }

            .div-image-div{
                // border: 1px solid red;
                height: 225px !important;
                img{
                    object-fit: contain !important;
                    height: 100% !important;
                }
            }
        }


        .box-wrapper{
            display: grid;
            grid-template-columns: repeat(1, 1fr) !important;
            grid-gap: 0px !important;
            padding: 0px 30px !important;

            div{
                padding: 0px !important ;
                width: 100%;
                height:auto !important;
                margin-bottom: 15px;
                // border: 1px solid red;
                
            }
        }
    
       }
   }

   .long{
    height:auto !important;
    width:100%;
    display: grid;
    grid-template-columns: 1fr !important;
    grid-gap: 5px;
   

    .large-image{
        display: none !important;
    }
}

.facts{
    width:100% !important;
    right: 0 !important;

    h5{
        font-size: 2rem !important;
    }
}
    
    
 }



@media only screen and (min-width: 1600px) {

    // .About{
    //     width:60% !important;
    //     margin: 0 auto !important;
    // }

}

 
.About{
    // border: 1px solid red;
    width:100%;
    

    .about-wrapper{
        border-top: 1px solid lighten(black, 70%);
        width:100%;
        background: white;
        font-family: Lato, Arial, Helvetica, sans-serif;

        *{
            color:black;
        }
        
        .box-wrapper{
            position: relative;
            // bottom: 25px;
            top: 20px;
            width:100%;
            height: auto !important;
            // border: 1px solid red;
            background: #F6F8F6;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 5px;
            padding: 10px 30px;

            div{
                padding: 20px;
                // widows: 100%;
                position: relative;
                bottom: 30px;
                height:300px;
                // border: 1px solid lighten(gray, 30%);
                p{
                    font-size: 0.9rem;
                     // border: 1px solid red;
                    height: 80%;
                }

                a{
                    font-size: 0.7rem;
                    width:auto;
                    padding: 10px;
                    // border: 1px solid red;
                }
            }
        }


        .div{
            width:95%;
            margin:0 auto;
            height:500px;
            // border: 1px solid red;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0;

            .div-image-div{
                width:100%;
                height:100%;
                

                img{
                    width:100%;
                    height:100%;
                    object-fit: cover;
                }
            }
        }



        .div4{
            background: #F9F9F7;
            
            .div-title-div{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding-top:50px 60px;

                .div4-inner{
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 20px;

                    div{
                        width:100%;
                    }
                }
                h5{
                    font-size:4rem; 
                    // border: 1px solid red;
                }
                p{
                    padding: 0 20px;
                    text-align: center;
                } 

                button{
                    margin-left: 20px;
                }
            }
        
        }

        .about-wrapper-div3{
            background: #eeefec;
            width:100%;
            height:auto;
            // border: 1px solid red;

           *{
               color:white !important;
           }
           .div-image-div{        

            img{
                
                height:500px;
                // border: 1px solid red;
                
            }
        }

            .div-title-div{
                // border: 1px solid black;
                width:100%;
                // padding: 0 5%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h5{
                    font-size: 4rem;
                    color:black !important;
                    font-weight: bold;
                }

                p{
                    font-weight: normal;
                    font-style: italic;
                    font-size: 3rem;
                    text-align: center;
                    color: black !important;
                    font-family: 'Felipa', cursive;
                }
            }


            span{
                button{
                    padding:5px 10px;
                    width:auto;
                    margin-right: 3px;
                    border: 0;
                    background: black;
                    color: white;
                    height: 40px;


                    a{
                        background: black;
                        color: white;
                        width:100%;
                    }
                }
            }
           
        }

        .div2{
            
            background: #F3F8F7;
            display:grid;
            grid-template-columns:1fr 8fr;
            grid-gap:0;

            .div-image-div{
                width:100%;
                
            
                img{
                    width:100% !important;
                    
                    object-fit: cover;
                }
            }

            .div-title-div{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                h5{
                    font-size: 4rem;
                }

                span{
                    button{
                        padding:5px 10px;
                        width:auto;
                        margin-right: 3px;
                        border: 0;
                        background: black;
                        color: white;
                        height: 40px;


                        a{
                            background: black;
                            color: white;
                            width:100%;
                        }
                    }
                }
            }
           
        }

       

        .about-wrapper-div1{
            // border: 1px solid red;
            height: auto;


            img{

                // min-height: 80% !important;
                // max-height: 96.3%  !important;
                // height: 90% !important;
                // border: 1px solid pink;
                width:110% !important;
                height: 107.5% !important;
                position: relative;
                right: 4.7%;
                object-fit: cover !important;
                padding-top: 5px;
                
            }

            .div-title-div{
                position: relative;
                top: 30px;
                z-index: 1;
                // border: 1px solid red;
                width:100%;
                h5, span{
                    font-size: 10rem;
                    padding: 0 5px;
                    font-family: "WarsawGothic";
                    // display: none;
                }

                h5{
                    span{
                        position: relative;
                        bottom: 50px;
                        right: 5px;
                    }
                }

                p{

                    font-size: 0.9rem;
                    width:80%;
                    position: relative;
                    left: 17px;
                    bottom: 80px;
                    font-family: Arial, Helvetica, sans-serif;
                    // text-align: center;
                }

                button{
                    padding:5px;
                    width:100px;
                    height:45px;
                    background: black;
                    color: white;
                    border:0;
                    cursor: pointer;
                    
                }

                
            }

           
        }
    }

}


.btn-company{
    padding:5px 20px;
    width:auto;
    margin-right: 3px;
    border: 0;
    background: black;
    color: white !important;
    height: 40px;
    cursor: pointer;
}


.long{
    height:auto;
    margin-bottom: 30px;
    // border: 1px solid navy;
    width:100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 5px;
  

    .large-image{
        z-index: 1;
        
        margin-top:9%;
        // border: 1px solid red;
        
        background: url('../../assets/images/madeinkigalimodel01.png');
        background-size:contain;
        background-position:center;
        background-repeat: no-repeat;
    }

    div{
        width:100%;
        height:100%;
        
    }

    .right-content{
        // border: 1px solid red;
        height: 95% !important;
        // border: 1px solid red;
        width:100%;
        padding: 10px 20%; 
        padding-left: 10%;
        position: relative;
        right: 0%;
        .facts{
            // border: 1px solid red;
            width:180%;
            // border: 1px solid red;
            position: relative;
            right: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            height:200px;
            border-bottom: 1px solid lighten(gray, 30%);


            h5{
                width:280%;
                // border: 1px solid red;
                font-size: 4rem;
                font-weight: bold;
                padding-right: 10px;
                font-family: 'WarsawGothic';
            }

            p{
                // border: 1px solid red;
                font-size: 0.9rem;
                position: relative;
                top: 8%;
                left:5%;
                // border: 1px solid red;
                width:640%;
            }
        }

        .stores{
            padding:20px;
            height:auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 0;
            border-bottom: 1px solid lighten(gray, 30%);
            .counting{
                font-size: 8rem;
            }

            .store-img{
                width:100%;
                img{

                    width:100%;
                }
            }
        }


        .distribution2{
            border-top: 1px solid lighten(gray, 30%);
        }

        
        .products{
            display: grid;
            grid-template-columns: 1.1fr 1fr;
            grid-gap: 0;
            border-bottom: 1px solid lighten(gray, 30%);
           
            height:auto;


            .prdt{
                width:100%;
                padding:20px;
                border-right: 1px solid lighten(gray, 30%);
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 0;
                

                *{
                    font-weight: bold;
                }
                img{
                    width:240%;
                    height: 140%;
                    position: relative;
                    right: 220%;
                    object-fit: contain;
                    bottom: 10%;
                    
                }


                .company-para{
                    text-decoration: underline !important;
                    // border: 1px solid red;
                    font-size: 0.7rem;
                    // z-index: 1;
                    width:200%;
                }

                p{
                    position: relative;
                    right: 15%;
                    font-size: 0.7rem;
                    text-transform: uppercase;
                    // border: 1px solid green;
                    width:140%;
                    text-align: center;
                }

                .investment-p{
                    width:180% !important;
                }

                
            }

            .distribution{
                *{
                    font-weight: bold;
                }

                p{
                    font-size: 0.7rem;
                    // border: 1px solid red;
                    text-transform: uppercase;
                    text-align: center;
                    position: relative;
                    
                }

                .counters-p{
                    bottom: 12% !important;
                }
            }

            

            
        }

        .products2{
            display:grid;
            grid-template-columns:1fr 1fr;
            grid-gap:0;   
            height: 25%;
        }

        .products3{
            display:grid;
            grid-template-columns:1.3fr 1fr;
            grid-gap:0;   
            height: 20%;

            .product-counter{
                font-size: 3vw !important;
            }
        }


    }

}



.newsroom{
    // border: 1px solid red;
    position: relative;
    bottom: 20px;
    height: 16vw;
    width:100%;
    background:#F7F8F6;
    // z-index: 4;
    padding:20px;
     

    p{
        span{
            font-size: 3.5rem;
            font-weight: bold;
            text-align: center;
            font-family: 'WarsawGothic';
        }
    }
    button{
        float:right;
        position: relative;
        
        bottom: 65px;
    }
}

.counter{
    font-size: 4vw !important;
    color: #63a5e1 !important;
    font-weight: bold;
    text-decoration: none !important;
    font-family: Arial, Helvetica, sans-serif;
}



.product-counter{
    font-size: 4vw !important;
    color: #63a5e1 !important;
    font-weight: bold;
    text-decoration: none !important;
    font-family: Arial, Helvetica, sans-serif;
}

.map-section {
    // border: 1px solid pink;

    // height:20vw !important;
    height: 20% !important;
    border-top: 1px solid lighten(gray, 30%);
    div{
        height: 100%;
        
            img{
                height: 80%;
                // border: 1px solid red;
                width: 150%;
                position: relative;
                right: 30%;
                // z-index: 0;
            }
        
    }
}

.product-counter3{
    font-size: 5.5vw !important;
    color: #63a5e1 !important;
    font-weight: bold;
    text-decoration: none !important;
    font-family: Arial, Helvetica, sans-serif;
}


// .investment-p{
//     font-size: 0.7rem !important;
//     border: 1px solid red;
// }

.counters-p{
    bottom: 17% !important;
}
