@media only screen and (max-width: 900px){
    .DashBoard{
        grid-template-columns: 1fr !important;
    }
}



.DashBoard{
    width:100%;
    height: auto;
    display:grid;
    grid-template-columns:3fr 8fr;
    grid-gap:0;
    background: url(https://cdn.wallpapersafari.com/27/0/4IlThL.jpg) no-repeat;
    background-size: cover;
    *{
        // font-family: Lato, Arial, Helvetica, sans-serif;
        font-family: 'Gloria Hallelujah', cursive;
    } 


    // div{
    //     height:auto;
    //     width:100vh;
    // }

    .d-left{
        *{
            color:white;
        }
        background: black;
        
        
        display:flex;
        justify-content: center;
        align-items:center;
        flex-direction:column;

        .profile-image{
            margin-top: 50px;
            height: 300px;
            width:70%;
            border-radius: 50%;
            // border: 1px solid red;

            img{
                object-fit: contain;
                width:100%;
                border-radius: 50%;
            }
        }

        div{
            width:80%;
            margin: 0 auto;

            *{
                text-align: center;
            }

            button{
                width:100%;
                background: #932823;
                padding: 10px;
                border:0;
                border-radius: 12px;
                cursor: pointer;
                margin: 5px;
            }
        }
    }

    .d-right{
        margin-top:10vh;


        *{
            
            // color: white;
            // font-family: 'Lato';
            font-family: 'Gloria Hallelujah', cursive;
        }
        .top-header{
            height:50px;
            border:1px solid grey;
        }

        .d-right-wrapper
        {
            h5{
                font-size: 32px;
                color: white;
            }
            
            width:80%;
            margin: 0 auto;
        }

        .d-right-content{
            width:100%;
            display:grid;
            grid-template-columns:1fr 1fr;
            grid-gap:10px;
            height: 70%;

            input, select{
                height: 50px;
                border: 1px solid lighten(grey, 30%);
                padding: 5px;
                background: white;
                opacity: 0.5;
                border-radius: 12px;
                color: black;
            }

            textarea{
                height: 150px;
                border: 1px solid lighten(grey, 30%);
                // padding: 5px;
                background: white;
                opacity: 0.5;
                color: black;
                border-radius: 12px;
            }

            .checkbox{
                width: 20px;
                height: 20px;
            }

            .add-btn{
                height:50px;
                border-radius: 12px;
                background: #932823;
                color: white;
            }
            

            form{
               display: inline;
               color: white;
               
            }
        }
    }
}



@media only screen and (min-width: 1600px) {

    .DashBoard{
        width:60% !important;
        margin: 0 auto !important;
    }

}
.flashdeals-container{
    // display:grid;
    // grid-template-columns:2fr 4fr;
    // grid-gap:0;


    .inner{
        border: 1px solid lighten(gray, 30%);
        padding: 10px;
        width:100%;
        height:100%;

        input{
            width:100%;
            height:50px;
            text-align: center;
            color: lighten(black, 40%);;
        }
    }
}

.search-result{
    height: 100%;
    overflow:scroll;
}

.search-item-div{
    display:grid;
    grid-template-columns:5fr 1fr;
    grid-gap:10px;
    height:50px !important;
    padding: 20px;

}
