@media only screen and (max-width: 900px) {
  .DashBoard {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
}

.DashBoard {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 8fr;
      grid-template-columns: 3fr 8fr;
  grid-gap: 0;
  background: url(https://cdn.wallpapersafari.com/27/0/4IlThL.jpg) no-repeat;
  background-size: cover;
}

.DashBoard * {
  font-family: 'Gloria Hallelujah', cursive;
}

.DashBoard .d-left {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.DashBoard .d-left * {
  color: white;
}

.DashBoard .d-left .profile-image {
  margin-top: 50px;
  height: 300px;
  width: 70%;
  border-radius: 50%;
}

.DashBoard .d-left .profile-image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  border-radius: 50%;
}

.DashBoard .d-left div {
  width: 80%;
  margin: 0 auto;
}

.DashBoard .d-left div * {
  text-align: center;
}

.DashBoard .d-left div button {
  width: 100%;
  background: #932823;
  padding: 10px;
  border: 0;
  border-radius: 12px;
  cursor: pointer;
  margin: 5px;
}

.DashBoard .d-right {
  margin-top: 10vh;
}

.DashBoard .d-right * {
  font-family: 'Gloria Hallelujah', cursive;
}

.DashBoard .d-right .top-header {
  height: 50px;
  border: 1px solid grey;
}

.DashBoard .d-right .d-right-wrapper {
  width: 80%;
  margin: 0 auto;
}

.DashBoard .d-right .d-right-wrapper h5 {
  font-size: 32px;
  color: white;
}

.DashBoard .d-right .d-right-content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  height: 70%;
}

.DashBoard .d-right .d-right-content input, .DashBoard .d-right .d-right-content select {
  height: 50px;
  border: 1px solid #cdcdcd;
  padding: 5px;
  background: white;
  opacity: 0.5;
  border-radius: 12px;
  color: black;
}

.DashBoard .d-right .d-right-content textarea {
  height: 150px;
  border: 1px solid #cdcdcd;
  background: white;
  opacity: 0.5;
  color: black;
  border-radius: 12px;
}

.DashBoard .d-right .d-right-content .checkbox {
  width: 20px;
  height: 20px;
}

.DashBoard .d-right .d-right-content .add-btn {
  height: 50px;
  border-radius: 12px;
  background: #932823;
  color: white;
}

.DashBoard .d-right .d-right-content form {
  display: inline;
  color: white;
}

@media only screen and (min-width: 1600px) {
  .DashBoard {
    width: 60% !important;
    margin: 0 auto !important;
  }
}

.flashdeals-container .inner {
  border: 1px solid #cdcdcd;
  padding: 10px;
  width: 100%;
  height: 100%;
}

.flashdeals-container .inner input {
  width: 100%;
  height: 50px;
  text-align: center;
  color: #666666;
}

.search-result {
  height: 100%;
  overflow: scroll;
}

.search-item-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 1fr;
      grid-template-columns: 5fr 1fr;
  grid-gap: 10px;
  height: 50px !important;
  padding: 20px;
}
/*# sourceMappingURL=dashboard.css.map */