
@media only screen and (min-width: 1600px) {

    .fabric_upload{
        width:60% !important;
        margin: 0 auto !important;
    }

}

.fabric_upload{
    width:100%;

    *{
        font-family:  Helvetica, Arial, sans-serif;
    }
}

.upload_wrapper{
    width:100%;

}

.fabric-upload-carousel{
    height:150px;
    width:100%;
    padding: 2% 6%;
    background: #F1F1ED;

    h4{
        font-size: 2rem;
    }
}

.fabric-upload-content{
    margin-top:25px;
    display: grid;
    width:100%;
    padding: 0 6%;
    grid-template-columns: 1fr 1fr;


    input{
        background: white;
        border:0;
    }
    h5{
        font-size: 1.6rem;
    }
}

.horizontal-line{
    height:2px;
    margin: 15px 0;
    border-bottom: 2px solid rgb(241, 241, 237);
}

.btn-upload-fabric{
    border:0;
    padding:10px 50px;
    background: #191843;
    color:white;
    font-size: 1.1rem;
}

.fabric-upload-right{
    height:500px;
    background: #F7F7F7;
    margin:0 6%;
    padding:0 3%;
    border:1px solid rgb(230, 227, 227);

    h6{
        font-size: 1.2rem;
        margin-top:20px;
    }
}

.grey_background{
    background: gray;
}