@media only screen and (max-width: 745px) {
<<<<<<< HEAD
  .happiness-fun-fact {
    margin: 2em !important;
  }
  .li-happiness {
    margin: 0 !important;
  }
  .ul-happiness {
    -webkit-column-count: 1 !important;
    column-count: 1 !important;
  }
  .happiness-tips {
    margin: 2em !important;
  }
  .happiness-header-img {
    width: 20% !important;
    margin: 2em 0;
=======
  .fun-fact {
    margin: 0 !important;
  }
  .tips li {
    margin: 0 !important;
>>>>>>> stagging
  }
}

@media only screen and (min-width: 1600px) {
  .Happiness {
    width: 60% !important;
    margin: 0 auto !important;
  }
}

a {
  color: #639da6;
}

.Happiness {
<<<<<<< HEAD
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.happiness-container {
=======
  width: 100%;
}

.container {
>>>>>>> stagging
  font-weight: 500;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

<<<<<<< HEAD
.happiness-container .happiness-header {
=======
.container .header {
>>>>>>> stagging
  text-transform: uppercase;
  color: #2d6d75;
}

<<<<<<< HEAD
.happiness-container .happiness-header .happiness-h1-header {
  font-size: 2.8em;
  margin-bottom: 1.5em;
}

.happiness-container .happiness-header .happiness-em {
  text-transform: capitalize;
}

.happiness-container .happiness-header-img {
  width: 8%;
  margin: 2em 0;
}

.happiness-container .happiness-text {
  margin: 0 15%;
}

.happiness-container .happiness-text .p-happiness-text {
=======
.container .header h1 {
  font-size: 2.8em;
}

.container .header em {
  text-transform: capitalize;
}

.container .img {
  width: 20%;
}

.container .text {
  margin: 0px 10%;
}

.container .text p {
>>>>>>> stagging
  text-align: left;
  font-size: 18px;
}

<<<<<<< HEAD
.happiness-container .happiness-tips {
  margin: 1em 5em;
}

.happiness-container .happiness-tips .li-happiness {
  text-align: left;
  font-size: 0.875em;
  margin: 1em;
}

.happiness-container .happiness-tips .ul-happiness {
=======
.container .tips {
  margin-bottom: 1em;
}

.container .tips li {
  text-align: left;
  font-size: 14px;
  margin: 1em;
}

.container .tips ul {
>>>>>>> stagging
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 1em;
          column-gap: 1em;
}

<<<<<<< HEAD
.happiness-container .happiness-tips-header {
  margin-top: 3em;
}

.happiness-container hr {
=======
.container .tips-header {
  margin-top: 3em;
}

.container hr {
>>>>>>> stagging
  width: 95%;
  height: 0.2em;
  margin-left: auto;
  margin-right: auto;
  background-color: #ededed;
  border: 0 none;
  margin-top: 3em;
}

<<<<<<< HEAD
.happiness-container .happiness-fun-fact {
  margin: 5em 20% 0.5em;
}

.happiness-container .happiness-fun-fact .p-fun-fact {
  font-size: 1em;
  text-align: left;
}

.happiness-container .happiness-contact-us {
  margin: 5em;
}

.happiness-container .happiness-contact-us h5 {
  font-size: 0.6em;
}

.happiness-container .happiness-row {
  margin: 3% 10%;
}

.happiness-container .happiness-row .happiness-column-img {
=======
.container .fun-fact {
  margin: 5em 10em 0.5em;
}

.container .fun-fact p {
  font-size: 15px;
  text-align: left;
}

.container .contact-us {
  margin: 5em;
}

.container .contact-us h5 {
  font-size: 0.6em;
}

.container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 5em;
}

.container .row img {
>>>>>>> stagging
  margin: 3em;
  margin-top: 5em;
  border-radius: 50%;
}

<<<<<<< HEAD
.happiness-container .happiness-row .happiness-column1 {
  background-color: #dceceb;
  margin: 2%;
  height: 28em;
}

.happiness-container .happiness-row .happiness-column2 {
  background-color: #dceceb;
  margin: 2%;
  height: 28em;
}

.happiness-container .happiness-row .happiness-column3 {
  background-color: #dceceb;
  margin: 2%;
  height: 28em;
=======
.container .row .column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  background-color: #dceceb;
  margin: 1em;
  padding: 1em;
}

.container .row .column p {
  padding: 2em;
  font-size: 1.5em;
  text-align: left;
}

.container .row .column h6 {
  padding-bottom: 3em;
>>>>>>> stagging
}
/*# sourceMappingURL=happiness_guaranteed.css.map */