*, *::before, *::after { box-sizing: border-box}
// <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
section{
    width: 60vw;
    margin: auto;


.top-bar{
    width: fit-content;
    height: fit-content;
    margin: 2vw auto ;
    

    a{
        border: 0.1vw solid gray;
        padding:  1vw 7.5vw;
        font-weight: bold;

        ._active{
            color: red;
        }
    }
    
}
.terms{
    text-align: left;
    h1{
        text-align: left;
        width: 60vw;
        padding-left: 0.5vw;
        font-size: 2.5vw;
    }
    p{
        width: 60vw;
        text-align: justify;
    }
    // h3{
    //     width: 60vw;
    // }
    ul{
        li{
         list-style: square;   
        }
    }
}
}
@media only screen and (max-width: 600px) {
    section{
        width: 80vw;
        margin: auto;
    
    
    .top-bar{
        width: fit-content;
        height: fit-content;
        margin: 2vw auto ;
        display: flex;
        
        a{
            border: 0.1vw solid gray;
            padding:  1vw 1vw;
            font-weight: bold;
            text-align: center;
    
            ._active{
                color: red;
            }
        }
        
    }
    .terms{
        text-align: left;
        h1{
            font-size: 5vw;
            font-weight: bold;
            text-align:justify;
            width: 80vw;
            padding-left: 0.5vw ;
            margin: 1vw 2vw;
        }
        p{
            width: 80vw;
            text-align: justify;
            padding: 1vw 0;
            font-size: 3vw;
        }
        h3{
            font-size: 4vw;
            font-weight: bold;
            padding: 0.5vw 0;
            
        }
    }
    }
}
@media only screen and (min-width: 1600px) {
    section{
        width: 40vw;
        margin: auto;
    
    
    .top-bar{
        width: fit-content;
        height: fit-content;
        margin: 2vw auto ;
        display: flex;
        
        a{
            border: 0.1vw solid gray;
            padding:  1vw 2.5vw;
            font-weight: bold;
            text-align: center;
            font-size: 1.2vw;
    
            ._active{
                color: red;
            }
        }
        
    }
    .terms{
        text-align: left;
        h1{
            font-size: 1.2vw;
            font-weight: bold;
            text-align:justify;
            width: 40vw;
            padding: 0;
        }
        p{
            width: 40vw;
            text-align: justify;
            padding: 1vw 0;
            font-size: 1vw;
        }
        h3{
            font-size: 1.25vw;
            font-weight: bold;
            padding: 0.5vw 0;
        }
    }
    }
}