*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  width: 60vw;
  margin: auto;
}

section .licences-top-bar {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 2vw auto;
}

section .licences-top-bar a {
  border: 0.1vw solid gray;
  padding: 1vw 7.5vw;
  font-weight: bold;
}

section .licences-top-bar a ._active {
  color: red;
}

section .licences-terms {
  text-align: left;
}

section .licences-terms h1 {
  text-align: left;
  width: 60vw;
  padding-left: 0.5vw;
  font-size: 2.5vw;
}

section .licences-terms p {
  width: 60vw;
  text-align: justify;
}

section .licences-terms ul li {
  list-style: square;
}

section .licences-terms i {
  color: #ff6666;
  font-size: 5vw;
  padding: 1vw;
}

@media only screen and (max-width: 600px) {
  section {
    width: 80vw;
    margin: auto;
  }
  section .licences-top-bar {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 2vw auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section .licences-top-bar a {
    border: 0.1vw solid gray;
    padding: 1vw 1vw;
    font-weight: bold;
    text-align: center;
  }
  section .licences-top-bar a ._active {
    color: red;
  }
  section .licences-terms {
    text-align: left;
  }
  section .licences-terms h1 {
    font-size: 5vw;
    font-weight: bold;
    text-align: justify;
    width: 80vw;
    padding-left: 0.5vw;
    margin: 1vw 2vw;
  }
  section .licences-terms p {
    width: 80vw;
    text-align: justify;
    padding: 1vw 0;
    font-size: 3vw;
  }
  section .licences-terms h3 {
    font-size: 4vw;
    font-weight: bold;
    padding: 0.5vw 0;
  }
  section .licences-terms i {
    color: #ff6666;
    font-size: 2.5vw;
    padding: 2vw;
  }
}

@media only screen and (min-width: 1600px) {
  section {
    width: 40vw;
    margin: auto;
  }
  section .licences-top-bar {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 2vw auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section .licences-top-bar a {
    border: 0.1vw solid gray;
    padding: 1vw 2.5vw;
    font-weight: bold;
    text-align: center;
    font-size: 1.2vw;
  }
  section .licences-top-bar a ._active {
    color: red;
  }
  section .licences-terms {
    text-align: left;
  }
  section .licences-terms h1 {
    font-size: 1.2vw;
    font-weight: bold;
    text-align: justify;
    width: 40vw;
    padding: 0;
  }
  section .licences-terms p {
    width: 40vw;
    text-align: justify;
    padding: 1vw 0;
    font-size: 1vw;
  }
  section .licences-terms h3 {
    font-size: 1.25vw;
    font-weight: bold;
    padding: 0.5vw 0;
  }
  section .licences-terms i {
    color: #ff6666;
    font-size: 1.5vw;
    padding: 1vw;
  }
}
/*# sourceMappingURL=licences.css.map */