*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-family: 'Lato';
  }
  
  .kfw-section{
      margin: auto;
  .kfw-title{
    padding: 2vw;
    font-family: 'Lato'!important;
    letter-spacing: 0.5vw;
    text-align: center;
}
.kfw-mid-title{
    font-size: 1.5vw;
    padding: 1vw;
    font-family: 'Lato';
    font-weight: normal;
    letter-spacing: 0.5vw;
    margin: auto;
    width: fit-content

}
.kfw-sub-title{
    font-size: 2vw;
    padding: 1vw;
    font-weight: normal;
    letter-spacing: 0.3vw;
    margin: auto;
    width: fit-content
}
.kfw-hr{
    margin: 1vw auto;
    width: 5vw;
    background-color:gainsboro;
    height: 0.2vw;
    border: 1px solid gainsboro;
}
.kfw-p{
    width:60vw;
    margin: auto;
    text-align: center;
    padding: 1vw;
    line-height:  2vw;
}

  @media only screen and (max-width: 900px) {
  .kfw-title{
      padding: 2vw;
      letter-spacing: 1vw;
  }
  .kfw-mid-title{
      font-size: 3vw;
      padding: 0.5vw;
  }
  .kfw-sub-title{
      font-size: 4vw;
      padding: 1vw;
  }
  .kfw-hr{
    margin: 2vw auto;
    width: 10vw;
    height: 0.5vw;
}
.kfw-p{
      width:80vw;
      margin: auto;
      text-align: center;
      padding: 1vw;
      font-size: 1rem;
      line-height:  20px;
  }
}

}
@media only screen and (min-width: 1600px) {
    .kfw-title{
        padding: 1vw;
        letter-spacing: 0.2vw;
        font-size: 1.5vw;
    }
    .kfw-mid-title{
        font-size: 1.2vw;
        padding: 1vw;
    }
    .kfw-sub-title{
        font-size: 1.2vw;
        padding: 1vw;
    }
    .kfw-hr{
        margin: 0.5vw auto;
        width: 2.5vw;
        height: 0.2vw;
    }
    .kfw-p{
        width:36vw;
        margin: auto;
        text-align: center;
        padding: 1vw;
        font-size: 0.7vw;
        line-height:  1vw;
    }
}