*{
    font-family: 'Lato';
}

.remContainer{
    padding-top: 0;
    height: fit-content;
    width: fit-content;
    margin: auto;
    .remA{
        padding-top: 0;
        width: inherit;
        display: grid;
        grid-template-columns: 29vw 29vw 29vw;
        grid-column-gap: 1vw;;
        grid-template-rows: auto auto auto auto auto;
        grid-row-gap:1vw;;

        img{
            grid-column-start: 1;
            grid-column-end: 3;
            height: inherit;
            
        }
        .remA-desc{
            background-color: rgb(243, 243, 243);
           
            .remA-desc-title{
                padding: 5vw 1.5vw 2vw 1.5vw;
                margin: auto;
                text-align: center;
                font-size: 2.5vw;
                font-weight: 900;
                font-family: 'Lato';
                  letter-spacing: 0.2vw;
                  color: black;
            }
            .remA-hr{
                width: 4vw;
                height: 0.3vw;
                background-color: white;
                border: 1px solid white;
                margin: 0 auto 2vw auto;
            }
            .remA-desc-text{
                text-align: center;
                width: inherit;
                font-size: 1.5vw;
                font-weight: 500;
                color: black;
                letter-spacing: 0.1vw;
            }
        }

        .remB{
            background-color: rgb(243, 243, 243);
            width: 28vw;
            height: 30vw;
            padding:0 2vw; 
            font-family: 'Lato';
            .remB-sub-title{
                font-size: 1.5vw;
                font-weight: bold;
                padding-top: 1vw;
                height: fit-content;
                width: fit-content;
            }

            .remB-hr{
                width: 4vw;
                height: 0.5vw;
                background-color: white;
                border: 1px solid white;
                margin: 1vw 0;
            }
            .remB-desc{
                color: black;
                width: fit-content;
                margin: 0;
                text-align: justify;
                font-weight: bold;
                padding: 1vw 0;
                font-size: 1.2vw;
                .remB-desc-loc{
                    padding: 1.5vw 0;
                    img{
                        width: 2.5vw;
                        height: 2.5vw;
                        margin:0 0.5vw;
                    }
                }
            }
            .remB-btn{
                margin:  auto;
                height: fit-content;
                width: fit-content;
                button{
                    text-align: center;
                        background-color: black;
                        color: white;
                        font-size: 1.2vw;
                        width: fit-content;;
                        padding: 0.6vw 5vw;
                        border: none;
                }
            }
            
        }
        .remB-map{
            height: 30vw;
        }

        .remC{
            background-color:  rgb(243, 243, 243);
            width: 28vw;
            height: 30vw;
            padding: 0 2vw; 
            .remC-sub-title{
                font-size: 1.5vw;
                font-weight: bold;
                padding-top: 1vw;
                height: fit-content;
                width: fit-content;
                font-family: 'Lato';
                .rem-hr{
                    width: 4vw;
                    height: 0.3vw;
                    background-color: white;
                    border: 1px solid white;
                    margin: 1vw 0 2vw 0;
                    }
            }
            .remC-text{
                width: fit-content;
                margin: 0;
                text-align: left;
                padding: 0;
                height: 30vw;
                font-family: 'Lato';
                font-size: 1.02vw;
                font-weight: 500;
            }
           
        }
        .remC-slides{
            grid-column-start:2;
            grid-column-end: 4;
            height: 30vw;

        }

        .remD{
            margin: 0;
            // border: 1px solid black;
            width: 89vw;
            padding-left: 2vw; 
            background-color: rgb(245, 242, 248);

            .remD-top-bar{
                display: flex;

                .remD-sub-title{
                    padding: 0;
                    font-size: 1.5vw;
                font-weight: bold;
                padding-top: 1vw;
                height: fit-content;
                width: fit-content;

                }
                .remD-button{
                    height: fit-content;
                    margin-top: 1.2vw;
                    margin-left: 52vw;
                    background-color: black;
                    color: white;
                    font-size: 1.2vw;
                    width: 15vw;;
                    padding: 0.5vw 1vw;
                    border: none;
                }
            }
            .rem-hr{
                width: 4vw;
                height: 0.5vw;
                background-color: white;
                border: 1px solid white;
                margin: 1vw 0 0  0;
                }
            .remD-brands{
                height: 10vw;
                display: flex;
                width: fit-content;
                margin: auto;
                img{
                    margin: 0.5vw  0.8vw;;
                    width: 15vw;
                }
            }
            .remD-sub-title{
                padding: 0;
                    font-size: 1.5vw;
                font-weight: bold;
                padding-top: 1vw;
                height: fit-content;
                width: fit-content;

            }

            .remD-store-services{
                display: flex;
                .store-service{
                    background-color: white;
                    text-align: center;
                    font-size: 1.25vw;
                    padding: 1vw ;
                    margin: 1vw;

                }
            }

            .drop-it{
                background-color: black;
                color: white;
                text-align: center;
                font-size: 1vw;
                margin-left: -2vw;
                padding: 1vw;
                .drop-it-title{
                    font-size: 1.2vw;
                    font-weight: bold;
                }
                .drop-it-text{
                    padding: 0;
                    
                    color: white;
                    letter-spacing: 0.1vw;
                    button{
                    background-color: black;
                    color: white;
                    font-size: 1vw;
                    font-weight: bold;
                    width: fit-content;
                    border: none;
                    margin-left: 2vw;
                    }

                }
            }
            .remE{
                
                width: fit-content;
                display: grid;
                grid-template-columns: auto auto auto;
                grid-column-gap: 1vw;
                grid-row-gap:1vw;
        
                .remEBox{
                    width: fit-content;
                    height: fit-content;
                    .remEimg{
                        height: 15.25vw;
                        width: 27vw;
                        margin:0;
                    }
                    .remEdesc{
                        padding: 1vw;
                        margin: 0;

                        background-color: white;
                        h5{width: fit-content;
                            font-size: 1vw;
                        }
                    }
                }  
            }
            .food-drink{
                height: 10vw;
                display: flex;
                width: fit-content;
                img{
                    margin: 0.5vw 3vw;
                    width: 20vw;
                }
            }
            .other-stores{
                display: flex;
                
                .rem-other-store{
                    padding-top: 1vw;
                    width: fit-content;
                    background-color: white;
                    margin: 2vw 0.5vw;
                    .other-store-label{
                        display: flex;
                        width: fit-content;
                        margin: auto;
                        img{
                            width: 5vw;
                            margin: 0;
                            height: 3vw;
                        }
                        p{
                            line-height: 1.3vw;
                        width: fit-content;
                        text-align: left;
                        }
                        
                    }
                    hr{
                        width: inherit;
                    }
                }
            }

        }
               
    }

}

@media only screen and (min-width:1600px){
    .remContainer{
        padding-top: 1vw;
        // height: fit-content;
        // width: fit-content;
        margin: auto;
        .remA{
            padding-top: 0;
            width: inherit;
            display: grid;
            grid-template-columns: 15vw 15vw 15vw;
            grid-column-gap: 1vw;;
            grid-template-rows: auto auto auto auto auto;
            grid-row-gap:1vw;;
    
            img{
                grid-column-start: 1;
                grid-column-end: 3;
                height: 16vw;
                width: inherit;
            }
            .remA-desc{
                background-color: rgb(243, 243, 243);
               
                .remA-desc-title{
                    padding: 3vw 0.5vw 1vw 0.5vw;
                    font-size: 1vw;
                    font-weight: 900;
                }
                .remA-hr{
                    width: 2vw;
                    height: 0.2vw;
                    margin: 0.5vw auto 1.5vw auto;
                }
                .remA-desc-text{
                    text-align: center;
                    width: inherit;
                    font-size: 0.7vw;
                    font-weight: 500;
                    color: black;
                    letter-spacing: 0.1vw;
                }
            }

            .remB{
                background-color: rgb(243, 243, 243);
                width: 15vw;
                height: 14vw;
                padding:0 1vw; 
                font-family: 'Lato';
                .remB-sub-title{
                    font-size: 0.7vw;
                    padding-top: 0.5vw;
                }
                .remB-hr{
                    width: 2vw;
                    height: 0.2vw;
                    background-color: white;
                    border: 1px solid white;
                    margin: 0.5vw 0;
                }
                .remB-desc{
                    padding: 0.5vw 0;
                    font-size: 0.6vw;
                    .remB-desc-loc{
                        padding: 0.7vw 0;
                        text-align: justify;
                        img{
                            width: 1vw;
                            height: 1vw;
                            margin:0 0.1vw;
                        }
                    }
                }
                .remB-btn{
                    button{
                            color: white;
                            font-size: 0.6vw;
                            width: fit-content;;
                            padding: 0.6vw 2vw;
                            border: none;
                    }
                }
                
            }
            .remB-map{
                height: 14vw;
            }
    
            .remC{
                background-color:  rgb(243, 243, 243);
                width: 15vw;
                height: 15vw;
                padding: 0 1vw; 
                .remC-sub-title{
                    font-size: 0.7vw;
                    font-weight: bold;
                    padding-top: 1vw;
                    height: fit-content;
                    width: fit-content;
                    font-family: 'Lato';
                    .rem-hr{
                        width: 2vw;
                    height: 0.2vw;
                    background-color: white;
                    border: 1px solid white;
                    margin: 0.5vw 0;
                        }
                }
                .remC-text{
                    width: fit-content;
                    margin: 0;
                    text-align: left;
                    padding: 0;
                    height: 30vw;
                    font-family: 'Lato';
                    font-size: 0.55vw;
                    font-weight: 500;
                }
               
            }
            .remC-slides{
                grid-column-start:2;
                grid-column-end: 4;
                height: 15vw;
    
            }
    
            .remD{
                margin: 0;
                width: 47vw;
                padding-left: 1vw; 
                background-color: rgb(245, 242, 248);
                .remD-top-bar{
                    display: flex;
                    .remD-sub-title{
                        padding: 0;
                        font-size: 0.7vw;
                    font-weight: bold;
                    padding-top: 1vw;
                    border: 1px solid black;
                    }
                    .remD-button{
                        height: fit-content;
                        margin-top: 0.6vw;
                        margin-left: 25vw;
                        background-color: black;
                        color: white;
                        font-size: 0.6vw;
                        width: 10vw;
                    }
                }
                .rem-hr{
                    width: 2vw;
                    height: 0.2vw;
                    background-color: white;
                    border: 1px solid white;
                    margin: 0.5vw 0;
                    }
                .remD-brands{
                    display: flex;
                    margin: auto;
                    height: fit-content;
                    img{
                        margin: 0.1vw  0.5vw;;
                        width: 7vw;
                        padding: 0;
                        height: fit-content;
                    }
                }
                .remD-sub-title{
                    padding: 0;
                        font-size: 0.7vw;
                    font-weight: bold;
                    padding-top: 1vw;
                    border: 1px solid black;
    
                }
    
                .remD-store-services{
                    display: flex;
                    .store-service{
                        background-color: white;
                        text-align: center;
                        font-size: 0.8vw;
                        padding: 0.5vw ;
                        margin: 0.5vw;
                    }
                }
    
                .drop-it{
                    font-size: 0.8vw;
                    margin-left: -0.9vw;
                    padding: 0.5vw;
                    .drop-it-title{
                        strong{font-size: 1vw !important}
                        em{font-size: 1vw !important}
                        font-size: 0.7vw;
                        font-weight: bold;
                    }
                    .drop-it-text{
                        padding: 0;
                        color: white;
                        letter-spacing: 0.1vw;
                        button{
                        font-size: 0.7vw;
                        margin-left: 1vw;
                        }
    
                    }
                }
                .remE{
                    
                    width: fit-content;
                    display: grid;
                    grid-template-columns: auto auto auto;
                    grid-column-gap: 1vw;
                    grid-row-gap:1vw;
            
                    .remEBox{
                        width: fit-content;
                        height: fit-content;
                        .remEimg{
                            height: 15.25vw;
                            width: 27vw;
                            margin:0;
                        }
                        .remEdesc{
                            padding: 1vw;
                            margin: 0;
    
                            background-color: white;
                            h5{width: fit-content;
                                font-size: 1vw;
                            }
                        }
                    }  
                }
                .food-drink{
                    height: 10vw;
                    display: flex;
                    width: fit-content;
                    img{
                        margin: 0.5vw 3vw;
                        width: 20vw;
                    }
                }
                .other-stores{
                    display: flex;
                    
                    .rem-other-store{
                        padding-top: 1vw;
                        width: fit-content;
                        background-color: white;
                        margin: 2vw 0.5vw;
                        .other-store-label{
                            display: flex;
                            width: fit-content;
                            margin: auto;
                            img{
                                width: 5vw;
                                margin: 0;
                                height: 3vw;
                            }
                            p{
                                line-height: 1.3vw;
                            width: fit-content;
                            text-align: left;
                            }
                            
                        }
                        hr{
                            width: inherit;
                        }
                    }
                }
    
            }
                   
        }
    
    }
}