@media only screen and (max-width: 900px){
    .Flashdeals2{
        grid-template-columns: repeat(10, 1fr) !important;
        overflow: scroll;
        height: auto !important;


        .flashdeals2-img-div{
            width:auto !important;
            height: auto !important;
            margin-right: 10px;
            float: right;

            // border: 1px solid green;
            .flashdeals2-img{
                width: 150px !important;
                height: auto !important;
            }
        }


        // .firstImage{
        //     position: relative;
        //     left: 300vw;
        //     // width: 300px !important;
        // }
    }
}

@media only screen and (min-width: 900px){
    .flashdeals2-img-div:hover .flashdeals2-img{
        width: 80% !important;
        // display: none;
    }

    .flashdeals2-img-div:hover{
        background-color: #191843 !important;
    }

    .flashdeals2-img-div:hover p{
        color: white !important;
    }




}


.Flashdeals2{
    margin-top: 15px;
    width:100%;
    height:auto;
    // border: 4px solid navy;
    

    display:grid;
    grid-template-columns:repeat(5, 1fr);
    grid-gap:10px;

    .flashdeals2-img-div{
        width:100%;
        height: 230px;
        border-radius: 35px;
        background: #F4F4F4;
        display:flex;
        justify-content: center;
        align-items:center;
        // margin-left: 10px !important;
        flex-direction:column;
        // border: 1px solid red;


        .flashdeals2-img{
            height:auto !important;
            width: 60%;
            object-fit: contain;
            height: 100%;
            border-radius: 35px;
            transition: width .8s ease-in-out;
            // border: 1px solid red;
            margin-left: 8% !important;
        }

        p{
            font-family: 'Lato';
            // border: 1px solid red;
            width:100%;
            text-align: center;
            // padding-left: 20%;
            font-size: 0.8rem;

            strike{
                color:#9A0022;
            }

            font-weight: bold;
        }
        
    }
}