
@media only screen and (min-width: 1600px) {

    .PointOfSale{
        width:60% !important;
        margin: 0 auto !important;

    }

}


@media only screen and (max-width:900px){
    .point-wrapper{
        width: 100% !important;
        // margin-right: 5% !important;
        grid-template-columns: 1fr !important;
       
    }

    .left{
        border: 1px solid red;
        // overflow: auto !important;
        height: auto !important;
    }
}

.PointOfSale{
    width:100%;
    margin: 0 auto;

    .point-top-image{
        width:100%;
        img{
            width:100%;
            object-fit: contain;
        }
    }

   

    .point-wrapper{

        *{
            color:black !important;
            font-family: 'Lato' !important;
        }
        width:80%;
        margin: 0 auto;
        display:grid;
        grid-template-columns:1fr 3fr;  
        grid-gap:15px;

        .point-left{
            width: 100%;
            height: auto;
            border: solid 2px lighten(gray, 30%);
            margin-top: 11%;
            padding-top: 20px;
            padding-left: 20px;
            // overflow: scroll;
            // margin-right: 30px;
            // display:flex;
            // justify-content: center;
            // align-items:center;
            flex-direction:column;

            div{
                *{
                    color: lighten(black, 35%)
                }
                padding: 10px;
                h6{
                    font-weight: bold;
                }

                p{
                    font-size: 0.8rem;
                }
            }
        }
    }
}


.map-pointer{
    width:40px;
    height:40px;
    border: 4px solid #9A0022;
    border-radius: 20px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:row;

    font-size: 1rem;
    font-weight: bold;
}