
@media only screen and (min-width: 1600px) {

  .Signin{
      width:60% !important;
      margin: 0 auto !important;
  }

}

@media only screen and (max-width : 475px) {
    .signin-wrapper{
        grid-template-columns: 1fr !important;
        grid-gap: 0;
        margin-bottom: 100px !important;

        .login-email, .login-password, .btn-login{
            width:100% !important;
        }
        
    }
  }


.Signin{
    width:100%;

    *{
        box-sizing: border-box;
    }

    h4{
        width:76%;
        margin:3% auto;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .signin-wrapper{
        display: grid;
        width:80%;
        margin: 30px auto;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10%;
        


        .login{
            padding:0 6%;

            label{
                width:100%;
                font-size: 0.9rem;
            }

            h5{
                border-bottom: 1px solid rgb(214, 211, 211);
                padding:10px 0;
                font-size: 1.3rem;
            }

            .login-checkbox{
                
            }
        }
    }
}

.login-email, .login-password{
    padding: 5px;
    width:60%;
}

.btn-login{
    padding: 10px;
    width:60%;
    background: #272727;
    border:0;
    color: white;
    margin-bottom: 15px;
    font-weight: bold;
}

.login-form{
    *{
        color:rgb(143, 142, 139);
    }
    a{
        text-decoration: underline;
        font-size: 0.7rem;
       
    }
}


.terms-text{
    font-size: 0.7rem;
    width:60%;
}


// checkbox styling

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 0.7rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border:1px solid #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }