* {
  font-family: 'Lato', serif;
}

@media only screen and (min-width: 1600px) {
  .Social {
    margin-left: 400px !important;
    -ms-flex-line-pack: center !important;
        align-content: center !important;
    text-align: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    width: 60% !important;
  }
}

@media only screen and (max-width: 745px) {
  .issue-social {
    margin: 2em 10% !important;
  }
  .solution-social-child {
    margin: 2em 10% !important;
  }
  .column-social {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .below-solution-social {
    margin: 2em 10% !important;
  }
  .our-difference2-inner-row {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: (minmax(50%, 1fr))[auto-fit] !important;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)) !important;
    grid-gap: 1rem !important;
  }
  .our-difference2-inner-column {
    width: 100%;
    margin: 2rem 0 !important;
  }
  .eco-conscious-row {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: (minmax(50%, 1fr))[auto-fit] !important;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)) !important;
    grid-gap: 1rem !important;
  }
  .img-solution1 {
    width: 100% !important;
  }
  .eco-conscious-row2 {
    margin-top: 2em;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(50%, 1fr))[auto-fit] !important;
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)) !important;
    grid-gap: 5%;
  }
  .eco-conscious-img {
    width: 100% !important;
  }
  .conscious-testimonials-row1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(50%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    grid-gap: 5%;
  }
}

.Social {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 !important;
}

.Social .header-label {
  color: #FFFFFF;
}

.container-social {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
}

.container-social .h1-text-social {
  letter-spacing: normal;
  font-size: 2em;
}

.container-social .normal {
  font-size: 1.5em;
}

.container-social .p-text-social {
  font-size: 1.2em;
  letter-spacing: normal;
}

.container-social .top-social {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url(./../../assets/images/careers.jpg) no-repeat fixed center;
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(./../../assets/images/careers.jpg) no-repeat fixed center;
  background-size: cover;
  width: 100%;
  height: 20rem;
}

.container-social .top-social .test-social {
  width: 100%;
  top: 50%;
  line-height: 5em;
  padding-top: 5%;
}

.container-social .issue-social {
  margin: 2em 22%;
}

.container-social .solution-social {
  width: 100%;
  margin-top: 2em;
  background-color: #f3f9dd;
}

.container-social .solution-social .solution-social-child {
  margin: 0 20%;
}

.container-social .solution-social .solution-social-child .row-text-social {
  padding-top: 0.5em;
}

.container-social .solution-social .h1-text-social {
  padding-top: 2em;
}

.container-social .solution-social .row-social {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  margin: 0 10% 0 10%;
}

.container-social .solution-social .row-social .column-social {
  background-color: #f3f9dd;
  margin: 2%;
}

.container-social .solution-social .row-social .column-social .img-social {
  width: 100%;
  margin: 0 !important;
}

.container-social .below-solution-social {
  margin: 2em 20%;
}

.container-social .below-solution-social .below-solution {
  font-size: 1.7em;
  color: darkolivegreen;
}

.container-social .approach-social {
  background-color: #f3f9dd;
  margin: 1em 6%;
}

.container-social .approach-social .h1-approach {
  padding-top: 1em;
}

.container-social .approach-social .p-approach {
  padding-bottom: 1.3em;
}

.container-social .solution1 {
  margin: 2em;
}

.container-social .solution1 .img-solution1 {
  width: auto;
}

.container-social .solution1 .h1-solution1 {
  font-size: 1.5em;
  font-weight: bold;
}

.container-social .solution1 .p-solution1 {
  padding-bottom: 2em;
}

.container-social .our-difference .h1-our-difference1 {
  font-size: 2em;
  font-weight: bold;
}

.container-social .our-difference .p-our-difference1 {
  font-size: 1.3em;
}

.container-social .our-difference .our-difference-row {
  margin: 0 15%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.container-social .our-difference .our-difference-row .our-difference-column {
  margin: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container-social .our-difference .our-difference-row .our-difference-column .img-our-difference {
  width: 10%;
}

.container-social .our-difference .our-difference-row .our-difference-column .h1-our-difference {
  font-size: 1.3em;
  font-weight: bold;
}

.container-social .our-difference .our-difference-row .our-difference-column .p-our-difference {
  text-align: left;
}

.container-social .our-difference2 .h1-our-difference2 {
  font-size: 2em;
}

.container-social .our-difference2 .our-difference2-inner {
  margin: 2em 15%;
  background-color: #efefef;
}

.container-social .our-difference2 .our-difference2-inner .our-difference2-inner-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-gap: 5%;
}

.container-social .our-difference2 .our-difference2-inner .our-difference2-inner-row .our-difference2-inner-column {
  margin: 20% 0;
}

.container-social .eco-conscious .h1-eco-conscious {
  font-size: 2em;
}

.container-social .eco-conscious .eco-conscious-inner {
  margin: 2em 15%;
}

.container-social .eco-conscious .eco-conscious-inner .eco-conscious-row {
  background-color: #efefef;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-gap: 5%;
}

.container-social .eco-conscious .eco-conscious-inner .eco-conscious-row .eco-conscious-column {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 15% 2%;
  float: left;
}

.container-social .eco-conscious .eco-conscious-inner .eco-conscious-row2 {
  margin-top: 2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-gap: 5%;
}

.container-social .eco-conscious .eco-conscious-inner .eco-conscious-row2 .eco-conscious-column2 {
  width: 100%;
}

.container-social .eco-conscious .eco-conscious-inner .eco-conscious-row2 .eco-conscious-column2 .eco-conscious-img {
  width: auto;
}

.container-social .eco-conscious .eco-conscious-inner .eco-conscious-row2 .eco-conscious-column2 .h1-recycle {
  font-size: 2em;
}

.container-social .eco-conscious .eco-conscious-inner .img-cutting-down {
  margin-top: 5em;
}

.container-social .eco-conscious .eco-conscious-inner .h1-cutting-down {
  font-size: 2em;
}

.container-social .eco-conscious .eco-conscious-inner .p-cutting-down {
  text-align: left;
  margin: 0 5%;
}

.container-social .eco-conscious .eco-conscious-inner .eco-conscious-stats {
  margin-top: 3em;
  width: 100%;
}

.container-social .eco-conscious .eco-conscious-inner .conscious-testimonials {
  width: 100%;
  margin: 1em 0 !important;
}

.container-social .eco-conscious .eco-conscious-inner .conscious-testimonials .conscious-testimonials-row2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-gap: 5%;
}

.container-social .eco-conscious .eco-conscious-inner .conscious-testimonials .conscious-testimonials-row2 .h1-testimonials {
  font-size: 1em;
  font-weight: bold;
}

.container-social .eco-conscious .eco-conscious-inner .conscious-testimonials .conscious-testimonials-row2 .img-testimonials {
  border-radius: 50%;
  width: 20%;
  margin-top: 1em;
}

.container-social .eco-conscious .eco-conscious-inner .conscious-testimonials .conscious-testimonials-row2 .p-testimonials {
  margin: 2em;
}

.container-social .eco-conscious .eco-conscious-inner .conscious-testimonials .conscious-testimonials-row2 .conscious-testimonials-column2 {
  background-color: #f3f7de;
  margin: 1em 2em;
}

.container-social .eco-conscious .eco-conscious-inner .conscious-testimonials .conscious-testimonials-row1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-gap: 5%;
}

.container-social .eco-conscious .eco-conscious-inner .conscious-testimonials .conscious-testimonials-row1 .h1-testimonials {
  font-size: 1em;
  font-weight: bold;
}

.container-social .eco-conscious .eco-conscious-inner .conscious-testimonials .conscious-testimonials-row1 .img-testimonials {
  border-radius: 50%;
  width: 20%;
  margin-top: 1em;
}

.container-social .eco-conscious .eco-conscious-inner .conscious-testimonials .conscious-testimonials-row1 .p-testimonials {
  margin: 2em;
}

.container-social .eco-conscious .eco-conscious-inner .conscious-testimonials .conscious-testimonials-row1 .conscious-testimonials-column1 {
  background-color: #def6f8;
  margin: 1em 2em;
}
/*# sourceMappingURL=social_responsibility.css.map */