.VisitRwanda2{
    width:100%;
    background: white;

    .btn-div{
        position: relative;
        bottom: 200px;
        width: 100%;
        //border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
 
        a{
            width:20%;
            //border: 1px solid red;

            button{
                width:100%;
                padding: 10px 20px;
                border:2px solid black;
                background: transparent;
            }
        }
    }
    
}


@media only screen and (min-width: 1600px) {

    .VisitRwanda2{
        width:60% !important;
        margin: 0 auto !important;
    }

}


@media only screen and (max-width: 900px){


    .slideshow-content-wrapper{
        // border: 1px solid red;
        overflow: scroll !important;
    }
    .slide-next, .slide-previous{
        display: none !important;
    }
    .img-title-div{        

        img{
            width: 70vw;
        }
    }

    .btn-div{
        margin-top:200px;
        button{
            width:40vw !important;
        }
     }
    .vr-wrapper{
        flex-wrap: wrap !important;



        .img1, .img2, .img4, .img5, .img6, .img7, .img8, .img9, .img10, .img11{         
            width:40vw !important;
            bottom: 0 !important;
            height:400px !important; 

            img{
                height: 350px !important;
                object-fit: cover;
            }
        }
    
        .img3, .img12, .img13{         
            width:80vw !important;
            bottom: 0 !important;
            height: 400px !important;
            // border: 1px solid red;

            img{
                height: 350px !important;
                width: 80vw !important;
                object-fit: cover;
                // border: 1px solid red;
            }
        }
    }
}
// @media only screen and (min-width: 900px){

.vr-wrapper{
    width:90%;    
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 50px;   

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    *{
        box-sizing: border-box;
        margin: 0 auto;
    }

    


    .img-div{
        position: relative;
        padding-bottom: 10px;
        border-bottom: 2px solid black;
        margin-bottom: 30px;
        // border: 1px solid red;
        width:auto;
        height: auto;   
        
        img{
            width:100%;
            height: auto;
        }

        p{
            font-weight: bold;

            &:nth-child(2){
                font-size: 0.8rem;
            }
            &:nth-child(3){
                font-size: 0.7rem;
            }
        }

        &:nth-child(5){
            //border: 1px solid red;
            bottom: 115px;
        }


        &:nth-child(8), &:nth-child(9), &:nth-child(10){
            //border: 1px solid red;
            bottom: 115px;
        }

        &:nth-child(12){
            //border: 1px solid red;
            bottom: 225px;
        }

        &:nth-child(13), &:nth-child(14){
           // border: 1px solid red;
            bottom: 115px;
        }

        &:nth-child(15), &:nth-child(16){
           // border: 1px solid red;
            bottom: 219px;
        }
    }

    .img1, .img2, .img4, .img5, .img6, .img7, .img8, .img9, .img10, .img11{         
        width:20vw;
    }


    .img13{
        // height: 320px !important;
        // border: 1px solid red;

        img{
            height: 20vw;
            width: 40vw;
            // border: 1px solid red;
        }
    }
    .img3, .img12{         
        width:42vw;
    }

    // .img4{         
    //     width:21vw;
    // }
}
// }