.VisitRwanda2 {
  width: 100%;
  background: white;
}

.VisitRwanda2 .btn-div {
  position: relative;
  bottom: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.VisitRwanda2 .btn-div a {
  width: 20%;
}

.VisitRwanda2 .btn-div a button {
  width: 100%;
  padding: 10px 20px;
  border: 2px solid black;
  background: transparent;
}

@media only screen and (min-width: 1600px) {
  .VisitRwanda2 {
    width: 60% !important;
    margin: 0 auto !important;
  }
}

@media only screen and (max-width: 900px) {
  .slideshow-content-wrapper {
    overflow: scroll !important;
  }
  .slide-next, .slide-previous {
    display: none !important;
  }
  .img-title-div img {
    width: 70vw;
  }
  .btn-div {
    margin-top: 200px;
  }
  .btn-div button {
    width: 40vw !important;
  }
  .vr-wrapper {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  .vr-wrapper .img1, .vr-wrapper .img2, .vr-wrapper .img4, .vr-wrapper .img5, .vr-wrapper .img6, .vr-wrapper .img7, .vr-wrapper .img8, .vr-wrapper .img9, .vr-wrapper .img10, .vr-wrapper .img11, .vr-wrapper .img13, .vr-wrapper .img14 {
    width: 40vw !important;
    bottom: 0 !important;
    height: 400px !important;
  }
  .vr-wrapper .img1 img, .vr-wrapper .img2 img, .vr-wrapper .img4 img, .vr-wrapper .img5 img, .vr-wrapper .img6 img, .vr-wrapper .img7 img, .vr-wrapper .img8 img, .vr-wrapper .img9 img, .vr-wrapper .img10 img, .vr-wrapper .img11 img, .vr-wrapper .img13 img, .vr-wrapper .img14 img {
    height: 350px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .vr-wrapper .img3, .vr-wrapper .img12 {
    width: 80vw !important;
    bottom: 0 !important;
    height: 400px !important;
  }
  .vr-wrapper .img3 img, .vr-wrapper .img12 img {
    height: 350px !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.vr-wrapper {
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.vr-wrapper * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.vr-wrapper .img-div {
  position: relative;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  margin-bottom: 30px;
  width: auto;
  height: auto;
}

.vr-wrapper .img-div img {
  width: 100%;
  height: auto;
}

.vr-wrapper .img-div p {
  font-weight: bold;
}

.vr-wrapper .img-div p:nth-child(2) {
  font-size: 0.8rem;
}

.vr-wrapper .img-div p:nth-child(3) {
  font-size: 0.7rem;
}

.vr-wrapper .img-div:nth-child(5) {
  bottom: 115px;
}

.vr-wrapper .img-div:nth-child(8), .vr-wrapper .img-div:nth-child(9), .vr-wrapper .img-div:nth-child(10) {
  bottom: 115px;
}

.vr-wrapper .img-div:nth-child(12) {
  bottom: 225px;
}

.vr-wrapper .img-div:nth-child(13), .vr-wrapper .img-div:nth-child(14) {
  bottom: 115px;
}

.vr-wrapper .img-div:nth-child(15), .vr-wrapper .img-div:nth-child(16) {
  bottom: 219px;
}

.vr-wrapper .img1, .vr-wrapper .img2, .vr-wrapper .img4, .vr-wrapper .img5, .vr-wrapper .img6, .vr-wrapper .img7, .vr-wrapper .img8, .vr-wrapper .img9, .vr-wrapper .img10, .vr-wrapper .img11, .vr-wrapper .img13, .vr-wrapper .img14 {
  width: 20vw;
}

.vr-wrapper .img3, .vr-wrapper .img12 {
  width: 42vw;
}
/*# sourceMappingURL=visitrwanda2.css.map */