*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            font-family: serif;
  }

  .washcare-section{
    width: 60vw;
    margin: auto;
      .washcare-title{
          letter-spacing: 0.1vw;
          margin: 0 auto;
          padding: 1vw;
          font-family: Arial, Helvetica, sans-serif;
          margin: auto;
      width: fit-content;
      }
      .washcare-sub-title{
        letter-spacing: 0;
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2vw;
        margin: auto;
      width: fit-content;
      }
      
      .washcare-topic{
        font-size: 1.5vw;
        text-decoration: underline;
        margin: 1vw auto;
        font-weight: 700;
        width: fit-content;
      }

      .washcare-washing{
          display: flex;
          width: fit-content;
          margin: 2vw auto;
         
          .washcare-left{
              width: 20vw;
             img{
                margin: 1vw 2vw;
              }
          }
          .washcare-middle{
            width: 20vw;
            margin: 0 5vw;
            img{
              width: 20vw;
              padding-bottom: 1vw;
            }
        }
        .washcare-right{
            width: 20vw;
        }
      }
      .washcare-drying{
        display: flex;
        width: fit-content;
        margin: 2vw auto;
        .washcare-left{
            width: 20vw;
            img{
              width: 20vw;
            }
        }
        .washcare-middle{
          width: 20vw;
          margin: 0 5vw;
          
      }
      .washcare-right{
          width: 20vw;
          img{
            width: 20vw;
          }
      }

    }
    
    .washcare-shoes{
        display: flex;
        width: fit-content;
        margin: 2vw auto;
        .washcare-left{
            width: 32.5vw;
            margin-right:  2.5vw;
        }
       
        .washcare-right{
          width: 32.5vw;
          margin-left: 2.5vw;
      }

    }
  
  }


@media only screen and (max-width:600px){
  .washcare-section{
    // width: 90vw;
    display: inline;
      .washcare-title{
          letter-spacing: 0.1vw;
          margin: 0 auto;
          padding: 1vw;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 4vw;
      }
      .washcare-sub-title{
        letter-spacing: 0;
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2vw;
      }
      
      .washcare-topic{
        font-size: 2.5vw;
        text-decoration: underline;
        margin: 1vw auto;
        font-weight: 700;
      }

      .washcare-washing{
          display: inline;
          // display: flex;
          margin: 2vw auto;
          .washcare-left{
              width: 90vw;
          }
          .washcare-middle{
            width: 20vw;
            margin: 0 5vw;
        }
        .washcare-right{
            width: 20vw;
        }
      }
      .washcare-drying{
        display: inline;
        margin: 2vw auto;
        .washcare-left{
            width: 40vw;
        }
        .washcare-middle{
          width: 40vw;
          margin: 0 5vw;
      }
      .washcare-right{
          width: 40vw;
      }

    }
    
    .washcare-shoes{
      width: 90vw ;
      margin: 2vw auto; 
      height: 10vw;
      .washcare-left{
          display: none;
            width: 32.5vw;
            margin-right:  2.5vw;
            font-size: 0.5vw;
        }
       
        .washcare-right{
          width: 32.5vw;
          margin-left: 2.5vw;
      }

    }
    .washcare-imgg{
      font-size: 5vw;
      color: gray
    }
  
  }

}
@media only screen and (min-width:1600px){
  .washcare-section{
    width: 45vw;
      .washcare-title{
          letter-spacing: 0.1vw;
          margin: 0 auto;
          padding: 1vw;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1vw;
      }
      .washcare-sub-title{
        letter-spacing: 0;
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.5vw;
      }
      
      .washcare-topic{
        font-size: 0.7vw;
        text-decoration: underline;
        margin: 1vw auto;
        font-weight: 700;
      }

      .washcare-washing{
          display: flex;
          width: fit-content;
          margin: 2vw auto;
          font-size: 0.5vw;
         
          .washcare-left{
              width: 10vw;
              img{
                width: 5vw;
                margin-right: 1.5vw;
              }
          }
          .washcare-middle{
            width: 10vw;
            margin: 0 1vw;
            img{
              width: 2.5vw;
              margin-right: 2.5vw;
            }
        }
        .washcare-right{
            width: 10vw;
        }
      }
      .washcare-drying{
        display: flex;
        width: fit-content;
        margin: 2vw auto;
        font-size: 0.5vw;
        .washcare-left{
            width: 10vw;
            img{
              width: 2.5vw;
              margin-right: 2.5vw;
            }
        }
        .washcare-middle{
          width: 10vw;
          margin: 0 1vw;
      }
      .washcare-right{
          width: 10vw;
          img{
            width: 2.5vw;
            margin-right: 2.5vw;
          }
      }

    }
    .washcare-hr{
      width: 10vw;
    }
    .washcare-shoes{
        display: flex;
        width: fit-content;
        margin: 2vw auto;
        font-size: 0.5vw;

        .washcare-left{
            width: 15vw;
            margin-right:  1vw;
        }
       
        .washcare-right{
          width: 15vw;
          margin-left: 1vw;
      }

    }
    .washcare-imgg{
      font-size: 2vw;
      color: gray
    }

  }
}

