@media only screen and (max-width: 745px){
    .FlashDeals{
        grid-template-columns: 1fr 1fr !important;
    }
    .btn-next-prev{
        display: none;
    } 

    .flash-deals-item{
        width: 40% !important;
        height:300px !important;
        justify-content: flex-start !important;
    }

    .flashdeals-img-div{
        height:70% !important;
    }

   
}



.FlashDeals
{

    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap:10px;
}
 

.outer-for-blog{
  width: 92%;
  margin:0 auto;
}
.FlashDeals > .flash-deals-item{
    /* height: 240px;
    width: 40%;    
    padding: 1px;
    margin: 0 5px;
    */
    
}

.flash-deals-item img{
    /* border: 1px solid red; */
}


.flash-deals-item-blog{
    height: 200px;
    margin: 10px 0;
    /* border: 1px solid red; */
}

.flashdeals-blog-description{
    font-size: 0.7rem;
    text-align: center;
    color: rgb(148, 146, 146);
    margin-top: 15px;
}

.flashdeals-img-div{
    background:#FBFBFB;
    height: 100%;
    width: 100%;
}

.flashdeals-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 35px; */
    
}

.flash-deals-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flashdeals-text{
    width: 100%;
}

.flashdeals-text p {
    text-align: center;
    margin-bottom: 0px;
    font-size: 0.8rem;
}
.img-next-prev{
    width: 100%;
    height: 100%;
    

}
.btn-next-prev{
    position: relative;
    right: 80px;
    background-color: Transparent;
    bottom: 30px;
    opacity: 0;
}
 
.btn-next-prev-left{
    left: 80px;
    
}

.FlashDeals:hover .btn-next-prev{
    opacity: 0.5;
 
}

/* FLASHDEALS2 STYLESS */


