@media only screen and (max-width: 745px){
    .FlashDeals{
        flex-wrap: wrap;
    }
    .btn-next-prev{
        display: none;
    }

    .flash-deals-item{
        width: 40% !important;
        height:300px !important;
        justify-content: flex-start !important;
    }

    .flashdeals-img-div{
        height:70% !important;
    }
/* 
    .flash-deals-item > div{
        width: 100% !important;
    } */

   
}

.FlashDeals
{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 10px;
   

}
 
.FlashDeals > .flash-deals-item{
    height: 250px;
    width: 30%;    
    padding: 1px;
    margin: 0 5px;
    /* border: 1px solid red; */
}


.flashdeals-img-div{
    background:#FBFBFB;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

.flashdeals-img{
    width: 75%;
    height: 100%;
    object-fit: contain;
    
}

.flash-deals-item{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content: center;
}

.flashdeals-text{
    width: 100%;
}

.flashdeals-text p {
    text-align: center;
    margin-bottom: 0px;
}
.img-next-prev{
    width: 100%;
    height: 100%;
    

}
.btn-next-prev{
    position: relative;
    right: 80px;
    background-color: Transparent;
    bottom: 30px;
    opacity: 0;
}

.btn-next-prev-left{
    left: 80px;
    
}

.FlashDeals:hover .btn-next-prev{
    opacity: 0.5;

}