.Footer{
    width:100%;

}

.footer-mobile-font-size *{
    font-size: 0.7rem !important;
} 

  table {
    border-collapse: collapse;
  }
  
@media only screen and (max-width: 745px){
    .signup-div > div{
        width:100% !important;
        align-items: center !important;
        justify-content: center !important;
       
    }

    .signup-div input{
        margin-bottom: 15px !important;
    }

    .btn-sigup-newsletter{
        width: 80% !important;
    }
    

    .footer-mobile-font-size *{
        font-size: 0.6rem !important;
    }
}

.signup-div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAFAFA;


}

.margin-top{
    margin-top: 100px;
}

/* *{
    border: 1px solid gray;
} */

.signup-div > div{
    margin:10px;
}

.footer-first-text-div p{
    font-size: 0.8rem;
    padding-top:15px;
}
.footer-signup-div-inner {
    width: 30%;
    display: flex;

}

.footer-signup-div-inner input{
    width: 90%;
}

.btn-sigup-newsletter{
    background-color: #191843;
    color: #fff;
    border-radius: 0;
    width: 120px;
}

.footer-second-div{
    height:50px;
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    background-color: #191843;

}

.footer-second-div div img{
    width: 15px;
    height: 15px; 
    position: relative;
    top: 5px;
    right: 5px;
    
}




.text-icon-footer p{
    text-align: center;
    padding-top:10px;
    font-size: 0.8rem;
}

.footer-second-div div p{
    color: #73705B;
}

.footer-third-div{
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
}


.social-media-div img{
    width:16px;
    padding-top:15px;
}

.footer-third-div > .social-media-div{
    padding-right: 25px;
    margin-bottom: 15px;
}

.signup-newsletter-home{
    border-radius: 0;
    width: 50%;

}



.footer-expand{
   
    background: #F5F5F5;
    display: table-row;
    
    
}


.expand-item{
   
    position: relative;
    right:4%;
}

.expand-item *{
    font-size: 0.8rem;
     color: rgb(48, 47, 47);
}

.text-icon-footer button:focus{
    outline: none;
}

/* footer fade animation */

.fadein, .fadeout {
    opacity: 0;
    
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;

   }
.fadein {
    opacity: 1;
  
}


.footer-new-design{

    width:100%;    
    margin: 0 auto;
    /* border: 1px solid red; */
}


.footer-new-design table{
    width:100%;
   
}

.footer-new-design th{
    padding:5px;
    /* padding-left: 5%; */
    /* border: 1px solid red; */
    width:10%;
    height: 48px;
    color: #73705B;
    background: #191843;
    cursor: pointer;
   
}

.footer-new-design th,.footer-new-design td{
    text-align: center;
    font-size: 0.8rem;
}

.footer-new-design td{
    padding: 3px;
    height:30px;
    /* text-align: left;
    border: 1px solid red; */
}
.btn-open-footer{
    background-color: transparent;
    font-size: 2rem !important;
    color: #73705B;
    width:40px;
    height: 100%;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */}

    .btn-openned{

    -webkit-animation:spin 1s linear;
    -moz-animation:spin 1s linear;
    animation:spin 1s linear;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(90deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(90deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } }