/* *{
    border: 1px solid red;
} */


@media only screen and (min-width: 2500px){

    .navigation > div a:nth-child(1){
        font-size: 0.45vw !important;
       
        
    } 

   
} 


@media only screen and (max-width: 900px){
    .sigin-wishlist{
        display: none !important;
    }
 
    .logo-item{
        width:29% !important;
        margin:0 20% 0 5% !important;
    }

    .topbar-nav
    {
        display:none !important;
    }
    

    .topmost-bar{
        height: 38px !important;
    }

    .Header-one, .navigation{
        display: none !important;
    }

    .mobile-nav-item {
        margin-right: 5px;
    }

    .mobile-nav a{
        font-size: 0.6rem !important;
    }

    .mobile-nav-item:nth-child(1){
        width: 15%;       
    }

    .mobile-nav-item:nth-child(2){
        width: 25%;       
    }
    .mobile-nav-item:nth-child(3){
        width: 60%;       
      
    }

    .right-icons-mobile{
       display:flex;
       justify-content: space-evenly;
       align-items:center;
       flex-direction:row;
        margin-left: 15px;
    }


    
   .mobile-nav{
       width: 100%;
       height:60px;
       background-color: white;
       display: flex !important;
       align-items: center;
       /* border: 1px solid red; */
   }
   .btn-search-mobile{
       background-color: transparent;
       border:none;
       width: 95%;
       margin: 0 2.5%;
       

   }

   .btn-search-mobile:focus{
       outline: none !important;
   }

   .btn-search, .btn-bag{
       background: transparent;
   }

 

   .btn-open-nav{
       background-color: transparent;
   }

   .mobile-logo{
        height: 40px;
        object-fit: contain;
    }

    .audio-pause{
        left:4% !important;
        bottom: 10px !important;
        margin-left: 0 !important;
    }

    
}
/* END OF MOBILE VIEW */


.Header{
    /* border: 1px solid red; */
    width:100%;
    background-color: #fff;

}

.topbar-nav .student-text{
    font-size: 0.8rem;
    color: black;
    position: relative;
    top: 10px;
}

.topmost-bar{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-top: 19px;
    background-color: black;
}

.topmost-bar > p{
    color:#F6AA39;
    font-size: 0.8rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    cursor: pointer;
    
}


.top-bar-white-text{
    color: #fff;
}
/* .Header-one{
    background-color:#0A1D40;
    display: flex;
    width: 100%;
    justify-content: left;
    height: 70px;
    align-items: center;
     
    
} */

.Header-one > .header-items
{
     
}
 
.mobile-nav{

    display: none;
}


.navigation{
    display: flex;
    height:50px;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    z-index: 1;
    flex-wrap: nowrap;
    
}

.navigation > div a:nth-child(1){
    font-weight: bold;
    /* border: 1px solid red; */
    font-size: 0.9vw;
    
}


.navigation > div{
    /* padding: 0.5% 2%; */
    padding:1% 1%;
    margin: 0 1%;
    height:100%;
    /* position: relative;
    top:7px; */
    
}

/* .navigation > div > div{
    box-shadow: 0 15px rgb(190, 188, 188);
} */


.navigation > div > a{
    font-family: Arial Narrow,Arial,sans-serif; 
}


.navigation a{
    color: rgb(75, 72, 72);
    font-size: 0.9rem;
    /* border: 1px solid red; */
    text-decoration: none;
    margin-bottom: 10px !important;
    
}

.navigation a:hover{
    color: #A4A4A4;
    
    
}

.wishlist-icon{
    width: 14px;
    height: 14px;
}

/* .wishlist-icon-link{
    padding: 0;
    position: relative;
    right: 15px;
} */

/* handling mega drop down menu  */

.drop-down-content-new-in{
    display: none;
    width: 100%;
    height: 300px;
    /* background-color:#F5F5F5; */
    left: 0;
    /* opacity: 1 !important; */
    /* border: 1px solid red; */
    
   
}


.new-in:hover .drop-down-content-new-in{
    display: grid;
    z-index: 1;
    /* transition: display .4s ease-in-out; */

}

/* newin styling */

.mega-menu-title{
    font-size: 1.2rem;
    /* text-decoration: underline; */
    
}

.mega-menu-sub-grid-new-in{
    display: grid;
    margin-top: 0;
    grid-template-columns: 1fr 3fr;
    height: 100%;
    padding: 0 30px;
    background-color:#F5F5F5;
     
  
}

.mega-menu-sub-grid-img{
    width: 80%;
    height: 250px;
    margin: 0 10%;
}


.mega-menu-sub-grid-content{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 15px;
    border-right: 0.5px solid #E5E5E5; 
}

.mega-menu-sub-grid-content a{
    font-size: 0.8rem;
    text-decoration: none;
    z-index: 1;
}

.mega-menu-sub-grid-content a:hover{
    color: black;
}



.drop-down-content-brands{
    display: none;
    width: 100%;
    height: 300px;
    left: 0;
    
}
.brands:hover .drop-down-content-brands{
    display: grid;
    z-index: 1;
}

.mega-menu-sub-grid-brands{
    display: grid;
    margin-top: 0;
    grid-template-columns: 1fr 1fr 2fr;
    height: 100%;
    padding: 0 30px;
    background-color:#F5F5F5;
   
  
}


.drop-down-content-sale{
    display: none;
    width: 100%;
    height: 300px;
    
    left: 0;
    
}


.mega-menu-sub-grid-sale{
    display: grid;
    margin-top: 0;
    grid-template-columns: 1fr 1fr 2fr;
    height: 100%;
    padding: 0 30px;
    background-color:#F5F5F5;
  
}


.f-brands{
    font-weight: 700;
}


.hide{
    display: none;
    

}

.show{
    display: inline;
    position: relative;
    right: 40%;
    top:30px;
    width: 20rem;
}


.search-bar{
  

}

.search-bar input{
    width: 100%;
}
 

/* .search-input{
    border:none;
    background-color: #0A1D40;~
    text-align: right;
    color: #6c6e70;
} */
 
.search-input:focus{
    outline: none;
}  



.nav-fixed{
    position: fixed;
    top: 0;
    z-index: 2;
    padding-top: 10px;
    width:100% !important;  
    background-color: #191843;    
}


.nav-fixed .header-nav-links-div{
    width:100%;
    position: relative;
    left:-4.5%;
}
.nav-fixed *{
    color: #73705B !important;

}



.m2m-dropdown-content{
    margin-top:15px;
    border-right: 0.5px solid #E5E5E5;
    margin-left: 15px;
}

.m2m:hover .m2m-dropdown{
    display: grid;
    /* opacity: 1; */
    /* left: 100px; */
    
}
.m2m-dropdown{
    padding:5px 30px 0 30px;
    display: none;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    z-index: 1;
    background-color: #F5F5F5;
    left: 0;    
    /* border: 1px solid red; */

}

.m2m-dropdown a{
    margin-bottom: 5px;
}


.wholesale-dropdown-content{
    border-right: 0.5px solid #E5E5E5;
    margin-left: 15px;
    margin-top: 15px;
}

.wholesale:hover .wholesale-dropdown{
    display: grid;
}
.wholesale-dropdown{
    padding:5px 30px 0 30px;
    display: none;
    width: 100%;
    /* height: 300px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    z-index: 1;
    background-color: #F5F5F5;
    left: 0;    

}


.brands:hover .brands-dropdown{
    display: grid;
}
.brands-dropdown{
    padding:5px 30px 0 30px;
    display: none;
    width: 100%;
    height:100%;
    grid-template-columns: 1fr 1fr 3fr;
    z-index: 1;
    background-color: #F5F5F5;
    left: 0;    

}

.brands-dropdown-content{
    border-right: 0.5px solid #E5E5E5;
    margin-left: 15px;
    margin-top: 15px;
    width:100%;
    height:60%;
    padding-left: 20px; 
}

.div-for-brands-display{
    height:60px;
    /* border: 1px solid red; */
    grid-column: 1/-1;
    width:100%;
    display:grid;
    grid-template-columns:repeat(5, 1fr);   
    grid-gap:0;
}

.div-for-brands-display div{
    width:80%;
    /* border: 1px solid red; */
    margin:0 auto;
    position: relative;
    bottom: 0px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:row;
}

.div-for-brands-display div img{
    max-width:100%;
    height: 100%;

}

.brands-dropdown-content img{
    width:80%;
    height: 220px;
    object-fit: cover;
    /* border: 1px solid red; */
}


.shop-all-brands-div{
    grid-column: 1/-1;
    /* border: 1px solid red; */
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:row;
}

.shop-all-brands-div a{
    font-size: 0.8rem;
    /* font-weight: bold; */
    margin-top: 20px !important;
    /* border: 1px solid red; */
    padding-top: 5px;
    border-top: 1px dotted gray;
}
.fabric:hover .fabric-dropdown{
    display: grid;
}
.fabric-dropdown{
    padding:5px 30px 0 30px;
    display: none;
    width: 100%;
    /* height: 300px; */
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;;
    z-index: 1;
    background-color: #F5F5F5;
    left: 0;    

}

.fabric-dropdown-content{
    /* height: auto; */
    /* border: 1px solid red; */
    border-right: 0.5px solid #E5E5E5;
    margin-left: 15px;
    margin-top: 15px;
}

.new-in{
    /* border: 1px solid red;
    font-size: 1vw !important; */
}

.new-in:hover .new-in-dropdown{
    display: grid;
}


.dropdowns h5 {
    padding-bottom: 3px;
    border-bottom: 1px solid gray;
    text-decoration: none !important;
    width: 150px !important;
    /* font-size: 1.3vw; */
    /* border: 1px solid red; */
}

.new-in-dropdown{
    padding:5px 30px 0 30px;
    display: none;    
    grid-template-columns: 1fr 5fr;
    z-index: 2;
    background-color: #F5F5F5;
    left: 0;   
   

}

.new-in-dropdown-content{
    border-right: 0.5px solid #E5E5E5;
    margin-left: 15px;
    margin-top: 15px;
}

.new-in-dropdown-content img{
    width:100%;
    height:310px;
}




.fashion-stories:hover .fashion-stories-dropdown{
    display: grid;
}


.fashion-stories-dropdown{
    padding:5px 30px 0 30px;
    display: none;    
    grid-template-columns: repeat(3, 1fr) 2fr;
    z-index: 2;
    background-color: #F5F5F5;
    left: 0;   
   

}

.fashion-stories-dropdown-content{
    border-right: 0.5px solid #E5E5E5;
    margin-left: 15px;
    margin-top: 15px;
    /* border: 1px solid red; */
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    width:100%;
    height:90%;
}

.fashion-stories-dropdown-content:nth-child(4){
    align-items: flex-start;
    padding: 0 30px;
}

.fashion-stories-dropdown-content img{
    /* border: 1px solid red; */
    width:80%;
    margin: 20px auto;
    height:70%;
    object-fit: cover;
}

.fashion-stories-dropdown-content .div-inner{
    position: relative;
    bottom:30px;
}


.fashion-stories-dropdown-content p{
    font-size: 0.8rem;
}


.visitrwanda:hover .visitrwanda-dropdown{
    display: grid;
}


.visitrwanda-dropdown{
    padding:5px 30px 0 30px;
    display: none;    
    grid-template-columns: 1fr 5fr;
    z-index: 2;
    background-color: #F5F5F5;
    left: 0;   
   

}

.visitrwanda-dropdown-content{
    border-right: 0.5px solid #E5E5E5;
    margin-left: 15px;
    margin-top: 15px;
}

.visitrwanda-dropdown-content img{
    width:100%;
    height:310px;
}



/* for sales */
.sale:hover .sales-dropdown{
    display: grid;
}


.sales-dropdown{
    padding:5px 30px 0 30px;
    display: none;    
    grid-template-columns: 1fr 1fr 4fr;
    z-index: 2;
    background-color: #F5F5F5;
    left: 0;   
   

}

.sales-dropdown-content{
    border-right: 0.5px solid #E5E5E5;
    margin-left: 15px;
    margin-top: 15px;
}

.sales-dropdown-content img{
    width:100%;
    height:310px;
}







.wholesale-dropdown a{
    margin-bottom: 5px;
}

.navigation h5{
    font-family: Arial Narrow,Arial,sans-serif; 
    font-size: 0.9rem;
    width:100%;
    
    color: rgb(139, 136, 136);
    text-decoration: underline;

}


.audio-pause{
    position: relative;
    bottom: 8px;
    right: 27.8%;
    margin-left: 13px;
    width: 50px;
    cursor: pointer;
}


.dropdowns{
    position: absolute;
    width: 90%;
    margin:14px 5%;
    height:auto;
    z-index: 2;
    padding: 0 0 10px 0;

}

