/* *{
    border: 1px solid red;
} */


@media only screen and (max-width: 745px){
    .sigin-wishlist{
        display: none !important;
    }

    .logo-item{
        width:29% !important;
        margin:0 20% 0 5% !important;
    }

    .topmost-bar{
        height: 38px !important;
    }
}
.Header{
    width:100%;
    background-color: #fff;

}

.topmost-bar{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    padding-top: 20px;
    background-color: #4D4143;
}

.topmost-bar > p{
    color:#F6AA39;
    font-size: 0.8rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

.top-bar-white-text{
    color: #fff;
}
.Header-one{
    background-color:#0A1D40;
    display: flex;
    width: 100%;
    justify-content: left;
    height: 70px;
    align-items: center;
    /* align-content: space-between; */
    
}

.Header-one > .header-items
{
    
}

.sigin{
    width: 100%;
}

.logo-item{

    width:18%;
    margin:0 25% 0 25%;
    height: 100%;
}
.logo{
    width:100%;
    height: 100%;
}
.sigin-wishlist{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 30px;
    width: 13%;
    
}

.sigin-wishlist > a{
    padding: 2%;
    color: #535557;
    font-size: 0.8rem;
    
}

.right-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-icons > a{
    padding: 0 10px 0 1%;
}

.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    width: 100%;
    /* flex-shrink: inherit; */
    flex-wrap: wrap;
    
}


.navigation > div{
    padding: 0.5% 2%;
    margin: 0 2%;
    
}

.navigation a{
    color: gray;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: 700;
}

.navigation a:hover{
    color: black;
    
}

.wishlist-icon{
    width: 14px;
    height: 14px;
}

/* handling mega drop down menu  */

.drop-down-content-new-in{
    display: none;
    width: 100%;
    height: 300px;
    /* background-color:#F5F5F5; */
    left: 0;
    
    /* margin: 0 20% 0 20% !important;
     */
   
}


.new-in:hover .drop-down-content-new-in{
    display: grid;
    position: absolute;
    z-index: 1;

}

/* newin styling */

.mega-menu-title{
    font-size: 1.2rem;
    text-decoration: underline;
    
}

.mega-menu-sub-grid-new-in{
    display: grid;
    margin-top: 0;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    padding: 0 30px;
    background-color:#F5F5F5;
    
  
}

.mega-menu-sub-grid-img{
    width: 100%;
    height: 250px;
}


.mega-menu-sub-grid-content{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* height: 300px; */
}

.mega-menu-sub-grid-content a{
    font-size: 1rem;
    text-decoration: none;
    z-index: 1;
}

.mega-menu-sub-grid-content a:hover{
    color: black;
}



.drop-down-content-brands{
    display: none;
    width: 100%;
    height: 300px;
    left: 0;
    
}
.brands:hover .drop-down-content-brands{
    display: grid;
    position: absolute;
    z-index: 1;
}

.mega-menu-sub-grid-brands{
    display: grid;
    margin-top: 0;
    grid-template-columns: 1fr 1fr 2fr;
    height: 100%;
    padding: 0 30px;
    background-color:#F5F5F5;
   
  
}


.drop-down-content-sale{
    display: none;
    width: 100%;
    height: 300px;
    
    left: 0;
    
}
.sale:hover .drop-down-content-sale{
    display: grid;
    position: absolute;
    z-index: 1;
}

.mega-menu-sub-grid-sale{
    display: grid;
    margin-top: 0;
    grid-template-columns: 1fr 1fr 2fr;
    height: 100%;
    padding: 0 30px;
    background-color:#F5F5F5;
  
}


.f-brands{
    font-weight: 700;
}
