.Home{

    margin: 0 0% 0 0%;
    background-color: #fff;
    width: 100%;
}


@media only screen and (min-width: 1600px) {
    .Router, .mega-menu-sub-grid{
        width:60%;
        margin: 0 20% 0 20% !important;
    }

    
}  


 @media only screen and (max-width: 745px){
    .left, .right{
        width: 500px !important;
        /* border: 4px dashed pink; */
    }

    .instafeed__item{  
        width:120px !important;
       height: 120px !important;
   }
 }

*{
    /* font-family: Verdana, Arial, Helvetica, sans-serif, Lato; */
    font-family: 'Open Sans Condensed', sans-serif;
}
.middle-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E9EDED;
    padding: 20px 0;

}

.middle-nav > .middle-nav-item{
    padding: 0 4%;
    font-size:0.8rem;
}
.middleBanner{
    width: 100%;
    height: 300px;
    background:url('../assets/images/middle-banner.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* intagram feed */



.instafeed__item{  
     width:10rem;
    height: 10rem;
  
}

.instafeed__item__background{
    width:100%;
    height: 100%;
   }

.insta-feed-grid-box{
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
}

.insta-feed-grid-box > a{
    margin-right: 5px;
}

.instafeed__item{
    /* border: 1px solid red; */
    /* width: 200px !important; */
    /* margin-left: 0px; */
}

.instagram-section{
    display: flex;
    width: 100%;
    height: 500px;
    flex-wrap: wrap;
}

.left{
    width: 40%;
    background: url('../assets/images/insta-fasion.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 30px 30px 0 30px;
    height: 94%;
    /* border: 1px solid red; */
  
}


.right{
    width: 50%;
    height: 100%;
    
}