.flex-wrap{
    flex-wrap: wrap !important;
}

body{
    background: white;
} 


@media only screen and ( max-width: 745px){
    .Slider{
        height:300px !important;
    }
    /* .slide, .carousel-inner, .carousel-item{
        height: 100%;
    } */

    .c-item {
        background-size: 100% 100% !important;
        height:100% !important;
    }

    .divider-name{
        font-size: 1rem !important;
    }

    
}

.Slider{
    height: 750px;
}
/* 
.jumbo3{
    height: 750px;
    background: url('../assets/images/new_background2.jpg');
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
    
}


.jumbo1{
    height: 750px;
    background: url('../assets/images/bg.jpg');
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbo2{
    height: 750px;
    background: url('../assets/images/new_background.jpg');
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
} */

.Divider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 4%;
    
}

.full_width{
    margin: 0;
    
}
/* 
.full_width *{
    font-family: 'Source Sans Pro', sans-serif !important;
    
    border-color: gray !important;
} */

.divider-name{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
   
}


.red{
    color: #B62043;
}
.Divider > div {
    padding: 0 2%;
}
.text{

    position: relative;
    top: 15px;

}
.horizontal-bar{
    border-bottom: 2px solid black;
    width: 40%;
    height: 20px;
    flex:2px;
}


.blog-border-width{
    border-bottom: 1px solid #d5d5d5;
}

.flash-deals-timer{
    font-size: 1.2rem;
    color: #B62043;
    font-family: 'Libre Baskerville', serif;
    margin-left: 5px;
    font-style: italic;
}



/* new  customized carousel */

.slider-wrapper{
    width:100%;
    height: 100%;
   

   
    
}

.carousel_item_holder{
    width:100%;
    height:100%;

  
}

.c-item{
    /* border: 1px solid red; */
    width:100%;
    height:100%;
    position: relative;
    left: 100vw !important;
    display: none;
    transition: left 4s ease-in-out;

    
}

.act {
    left:0 !important;
    display: inline-block;
    

}

.c-item:nth-child(1){
    width: 100%;
    background: url('../assets/images/madinkigali001.jpg') no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
}


.c-item:nth-child(2){
    width: 100%;
    background: url('../assets/images/new_background.jpg') no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    /* border: 1px solid red; */
}


.c-item:nth-child(3){
    width: 100%;
    background: url('../assets/images/new_background2.jpg') no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dot-control{
    height: 20px;
    /* background: #B62043; */
    position: relative;
    top:-8px;

    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:row; 
}
.dot-control .dot{
    width: 10px;
    border-radius: 5px;
    background: #B62043;
    height:10px;
    margin: 2px;

    cursor: pointer;
}

.dot-control .dot-act{
    background: #d5d5d5;
}