.flex-wrap{
    flex-wrap: wrap !important;
}


@media only screen and ( max-width: 745px){
    .jumbo1, .jumbo2, .jumbo3 {
        background-size: 200% 100% !important;
    }
}

.Slider{
    height: 750px;
}

.jumbo3{
    height: 750px;
    background: url('../assets/images/banner20.png');
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
    
}

.jumbo1{
    height: 750px;
    background: url('../assets/images/banner4.gif');
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbo2{
    height: 750px;
    background: url('../assets/images/banner11.jpg');
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}

.Divider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 4%;
    
}

.full_width{
    margin: 0;
    
}

.full_width *{
    font-family: 'Source Sans Pro', sans-serif !important;
    /* color:gray !important; */
    border-color: gray !important;
}

.divider-name{
    font-family: 'Courgette', cursive;
    text-align: center;
}

.Divider > div {
    padding: 0 2%;
}
.text{

    position: relative;
    top: 15px;

}
.horizontal-bar{
    border-bottom: 3px solid black;
    width: 40%;
    height: 20px;
    flex:2px;
}

.flash-deals-timer{
    font-size: 1.2rem;
    color: brown;
    margin-left: 5px;
    font-style: italic;
}