



 @media only screen and (min-width:745px){
    .div2-inner{
        box-sizing: content-box;
        padding-bottom: 50px;
    }

 }
@media only screen and (max-width:745px){
    .div1{
        display: none !important;
    }

    .div2{
        width:100% !important;
        height: 300px !important;
        margin-bottom: 50px !important;
    }
    
    .price-section-div h1, .price-section-div h4{ 
        font-size: 1.5rem !important;
    }

    .div3{
        width: 100% !important;
        /* margin-top:30px !important; */

    }
}

.Product{
    width: 94%;
    margin: 0 3%;
   

}

.product-section-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;   
    /* min-height: 700px;
    overflow: auto; */
   

}



.product-section-item{
    margin: 10px;
   
}


.div1{
    width: 5%;
    border: none;
    display: flex;
    flex-direction: column;
    height: 80%;
}

.div1 > div{
    margin:3px;
}
.div2{
    
    width: 54%;
    height:100%;
    
}

.div2-inner{
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBFBFB;
    overflow: scroll; 
    
   
}


.div2 img{    
    /* width: 50% !important; */
    padding:5px;    
    height:100%;
}



.div3{
    width: 27%;
    height:800px !important;
}


.product-beadcrum-div{
    margin: 10px;
    
}


.product-select-img-div{
    width: 100%;  
    
}

.product-select-img{
    width:100%;
    height: 100%;
    object-fit: contain;
    border: 0 ! important;
}


.img-select-active{
    border: 1px solid rgb(75, 73, 73) ! important;
}

.product-img1{
    width: 100%;
    object-fit: contain;
    margin-right: 15px;
}

.input-size{
    width: 80%;
    border-radius: 0;
}

.add-to-cart{
    width: 80%;
    margin: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    margin-top: 40px !important;
}

.btn-add-to-cart{
    width: 100%;
    background-color: #000000;
    color: #fff;
    border-radius: 0;

}

.sku{
    font-size: 0.8rem;

}

.wishlist{
    height: 24px;
    margin: 6px 0 0 20px;
}

.btn-availability{
    width: 80%;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid black;
}

.availability{
    width: 100%;
    margin:30px 0 10px 0;
   
  
}

.details summary{
    width:90%;
}

.btn-details{
    width: 100%;
    border-radius: 0;
    background-color: transparent;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    text-align: left;
    /* padding:10px; */
    display: flex;
}

.btn-details p{
    width:93%;
    margin: 0;
    padding-top:5px;
}

.btn-details span{
    font-size: 1.5rem;
}


.details{
    width: 100%;
    margin:30px 0 10px 0;   
    
}

.combine-with-div{
    width: 100%;
}


.product-top-info-bar{
    height: 40px;
    width: 100%;
    background-color: #000;
}

.product-top-info-bar p{
    color: #fff;
    text-align: center;
    padding:6px;
}

/* wholesale css */

.min-order-wholesale{
    font-size: 0.7rem;
}

.contact-supplier{
    margin-top:50px;
}

.social-media-share{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-share > *{
    margin:5px;
}

.div-stars{
    display: flex;
    justify-content: flex-start;
    /* border:1px solid red; */
    align-items: center;
    width:100%;
}

.div-stars img{
    width: 11px;
    height:11px;
    margin:1px;
}
.color-box-div{
    margin-top:15px;
}

.color-box-div div{
    margin-top: -10px;
}

.color-box-div img{
    width:50px;
    height:60px;
    margin-right:10px;
}

.shipping-div{
    margin-top:10px;
}

.size-div{
    margin-top: 10px;
}
.quantity-div{
    width: 40%;
    margin-top:25px;
}
.div-quantity-inner {
    display: flex;
    width: 100%;
    margin-top: -10px;
    border:1px solid rgb(199, 197, 197);
}

.div-quantity-inner input{
    border: 0;
    width:40%;
}
.btn-quantity{
    background: transparent;
    border:0;
    padding:4px;
    width:30% !important;
}
.size-div-m2m{
    width:100%;
    margin-top: 30px;
    margin-bottom: 15px;
}
.size-div-m2m-inner{
    display: flex;
    width:100%;
    margin-top: -10px;

}

.size-div-m2m-inner div{
    min-width: 8%;
    max-width: 18%;
    display: flex;
    align-items: center;
    border: 1px solid rgb(199, 197, 197);
    justify-content: center;
    height:30px;
    /* background: red; */
    margin: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.no-size-span-div{
    margin-top:20px;
}

.no-size-span{
    font-size: 0.9rem;
    text-decoration: underline;
}

.no-size-span img{
    width:24px;
    margin-right: 10px;
}

.shipping-div{
    width: 100%;
    margin-top:25px !important;
}

.shipping-div p:nth-child(2){
    margin-top: -12px; 
    font-size: 0.9rem;
}



.shipping-modal-open:hover{
    color: #9A0022;
    text-decoration: underline;
}


.modal-wrapper-product{
    height: 400px;
    width: 50%;
    margin: 0 20%;
    background: white;
    position: fixed;
    top: 90px;
    left: 4%;
    box-shadow: 2px 2px 8px 2px rgb(26, 25, 25);
    display: none;

}